@media only screen and (max-width: 1200px){
	
}
@media only screen and (max-width: 1199px) {
	/*thuong hieu lAPtop*/
	.h-wrap{
		.container{
			.row_laptop247{
				a#item_brand{
					width: 50%;
				    display: flex;
				    border-right-width: 1px;
				    border-bottom-width: 1px;
				    border-color: #e1e1e1;
				    border-bottom-style: solid;
				    border-right-style: solid;
				 
					.img{
						width: 100%;
					    height: 100px;
					    overflow: hidden;
					    display: flex;
	    				justify-content: center;
	    				padding: 20px;
						img{
						
							height: 100%;
							object-fit: unset;
							max-width: 90%;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	/*dich vu sửa chữa*/
	.popup_main {
	    width: 100%;
	    float: left;
	    background-color: #fff;
	}
	.popup_product_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	.popup_customer_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	#customer-gender {
	    width: 100%;
	    float: left;
	    margin: 10px 0 0 0;
	}
	#customer-name {
	    float: left;
	    width: 100%;
	    height: 30px;
	    padding: 5px;
	}
	#customer-phone {
	    width: 100%;
	    float: left;
	}
	#customer-email {
	    width: 100%;
	    float: left;
	}
}
@media only screen and (max-width: 991px) {
	/*thuong hieu lAPtop*/
	.h-wrap{
		.container{
			.row_laptop247{
				a#item_brand{
					width: 50%;
				    display: flex;
				    border-right-width: 1px;
				    border-bottom-width: 1px;
				    border-color: #e1e1e1;
				    border-bottom-style: solid;
				    border-right-style: solid;
				 
					.img{
						width: 100%;
					    height: 100px;
					    overflow: hidden;
					    display: flex;
	    				justify-content: center;
	    				padding: 20px;
						img{
						
							height: 100%;
							object-fit: unset;
							max-width: 90%;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	/*dich vu sửa chữa*/
	.popup_main {
	    width: 100%;
	    float: left;
	    background-color: #fff;
	}
	.popup_product_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	.popup_customer_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	#customer-gender {
	    width: 100%;
	    float: left;
	    margin: 10px 0 0 0;
	}
	#customer-name {
	    float: left;
	    width: 100%;
	    height: 30px;
	    padding: 5px;
	}
	#customer-phone {
	    width: 100%;
	    float: left;
	}
	#customer-email {
	    width: 100%;
	    float: left;
	}
}
@media only screen and (max-width: 767px) {
	/*thuong hieu lAPtop*/
	.h-wrap{
		.container{
			.row_laptop247{
				a#item_brand{
					width: 50%;
				    display: flex;
				    border-right-width: 1px;
				    border-bottom-width: 1px;
				    border-color: #e1e1e1;
				    border-bottom-style: solid;
				    border-right-style: solid;
				 
					.img{
						width: 100%;
					    height: 100px;
					    overflow: hidden;
					    display: flex;
	    				justify-content: center;
	    				padding: 20px;
						img{
						
							height: 100%;
							object-fit: unset;
							max-width: 90%;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	/*dich vu sửa chữa*/
	.popup_main {
	    width: 100%;
	    float: left;
	    background-color: #fff;
	}
	.popup_product_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	.popup_customer_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	#customer-gender {
	    width: 100%;
	    float: left;
	    margin: 10px 0 0 0;
	}
	#customer-name {
	    float: left;
	    width: 100%;
	    height: 30px;
	    padding: 5px;
	}
	#customer-phone {
	    width: 100%;
	    float: left;
	}
	#customer-email {
	    width: 100%;
	    float: left;
	}
}
@media only screen and (max-width: 479px){
	.h-wrap{
		.container{
			.row_laptop247{
				.item{
					width: 50%;

				}

				/*dich vu sua chua laptop*/
				.content_list_item#services_product{
					width: 50%;
				}
				.content_list_item{
					width: 50%;
					border-right-width: 1px;
			    	border-right-style: solid;
			    	border-color: #e1e1e1;
			    	border-bottom-width: 1px;
			    	border-bottom-style: solid;
			    	padding: 2px;
			    	&:hover{
			    		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
			    		a{
			    			.infor{
			    				#title{
			    					color: #00a72a;
			    				}
			    			}
			    		}
			    	}
					a{
						text-align: center;
						.img{
							height: 150px;
							overflow: hidden;
							img{
								transition: all ease 0.4s;
								max-width: 90%;
	    						height: 100%;
	    						object-fit: cover;
	    						vertical-align: middle;
							}
						}
						.infor{
							margin: 10px 0;
							#title{
								height: 46px;
							    overflow: hidden;
							    font-size: 16px;
							}
							p{
								color: #333;
							}
						}
					}
				}
			}
		}
	}

/*thuong hieu lAPtop*/
	.h-wrap{
		.container{
			.row_laptop247{
				a#item_brand{
					width: 50%;
				    display: flex;
				    border-right-width: 1px;
				    border-bottom-width: 1px;
				    border-color: #e1e1e1;
				    border-bottom-style: solid;
				    border-right-style: solid;
				 
					.img{
						width: 100%;
					    height: 100px;
					    overflow: hidden;
					    display: flex;
	    				justify-content: center;
	    				padding: 20px;
						img{
						
							height: 100%;
							object-fit: unset;
							max-width: 90%;
							vertical-align: middle;
						}
					}
				}


			}
		}
	}

/*dich vu sửa chữa*/
	.popup_main {
	    width: 100%;
	    float: left;
	    background-color: #fff;
	}
	.popup_product_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	.popup_customer_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	#customer-gender {
	    width: 100%;
	    float: left;
	    margin: 10px 0 0 0;
	}
	#customer-name {
	    float: left;
	    width: 100%;
	    height: 30px;
	    padding: 5px;
	}
	#customer-phone {
	    width: 100%;
	    float: left;
	}
	#customer-email {
	    width: 100%;
	    float: left;
	}
	
}

@media only screen and (max-width: 319px) {

	/*thuong hieu lAPtop*/
	.h-wrap{
		.container{
			.row_laptop247{
				a#item_brand{
					width: 50%;
				    display: flex;
				    border-right-width: 1px;
				    border-bottom-width: 1px;
				    border-color: #e1e1e1;
				    border-bottom-style: solid;
				    border-right-style: solid;
				 
					.img{
						width: 100%;
					    height: 100px;
					    overflow: hidden;
					    display: flex;
	    				justify-content: center;
	    				padding: 20px;
						img{
						
							height: 100%;
							object-fit: unset;
							max-width: 90%;
							vertical-align: middle;
						}
					}
				}
			}
		}
	}
	/*dich vu sửa chữa*/
	.popup_main {
	    width: 100%;
	    float: left;
	    background-color: #fff;
	}
	.popup_product_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	.popup_customer_info {
	    width: 100%;
	    float: left;
	    padding: 10px;
	}
	#customer-gender {
	    width: 100%;
	    float: left;
	    margin: 10px 0 0 0;
	}
	#customer-name {
	    float: left;
	    width: 100%;
	    height: 30px;
	    padding: 5px;
	}
	#customer-phone {
	    width: 100%;
	    float: left;
	}
	#customer-email {
	    width: 100%;
	    float: left;
	}
}