 // Colors
$brand-primary:         #00a72a;
$brand-da-cam:         #f16421;
$brand-secondary:       #6d6d70;
$color-primary:         #292929;
$color-secondary:       #949699;
$bg-header:             #67676a;
@mixin set-line($line, $lineHeight){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    line-height: $lineHeight;
    height: calc(#{$lineHeight} * #{$line});
}
@mixin set-lineMax($line, $lineHeight){
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    line-height: $lineHeight;
    max-height: calc(#{$lineHeight} * #{$line});
}
//Set Font
// @font-face {
//     font-family: 'UTMFacebookKT';
//     src: url('../fonts/UTMFacebookKT/UTM-FacebookR-KT.ttf') format('truetype');
//     font-weight: 400;
// }

@font-face {
  font-family: 'UTMFacebookKT';
  src: url('../fonts/UTMFacebookKT/UTMFacebookK-T.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UTMFacebookKT/UTMFacebookK-T.woff') format('woff'), url('../fonts/UTMFacebookKT/UTMFacebookR-T.ttf')  format('truetype'), url('../fonts/UTMFacebookKT/UTMFacebookK-T.svg#UTMFacebookK&T') format('svg');
}

@font-face {
  font-family: 'UTMFacebookKT';
  src: url('../fonts/UTMFacebookKT/UTMFacebookK-TBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UTMFacebookKT/UTMFacebookK-TBold.woff') format('woff'), url('../fonts/UTMFacebookKT/UTM-FacebookB-KT.ttf')  format('truetype'), url('../fonts/UTMFacebookKT/UTMFacebookK-TBold.svg#UTMFacebookK&TBold') format('svg');
  font-weight: bold;
}

// @font-face {
//     font-family: 'UTMFacebookKT';
//     src: url('../fonts/UTMFacebookKT/UTM-FacebookB-KT.ttf') format('truetype');
//     font-weight: bold;
// }
@font-face {
    font-family: 'UTMBebas';
    src: url('../fonts/UTMBebas/UTMBebas.ttf') format('truetype');
    font-weight: 400;
}

// Fonts
$font-family-base:      'UTMFacebookKT', sans-serif;
$font-family-base1:      'Arial', sans-serif;
$font-family-base2:      'UTMBebas', sans-serif;
h1,
h2,
h3,
h4 {
    color: inherit;
}
input,
select,
textarea,
button{
    font-family: $font-family-base;
    outline: none;
    box-shadow: none;
    vertical-align: middle;
    color: $color-primary;
    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}
a:hover{
    color: $brand-primary;
}
a {
    color: inherit;
    transition: 0.2s;
}

img {
    max-width: 100%;
    outline: none !important;
}
/* Fix modal  */
.mm-slideout { z-index:auto !important}