.tks-content{
	text-align: center;
	padding: 35px 40px 40px 40px;
	border-radius: 0;
	border: solid 2px #ccc;
	.title{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 30px;
		color: $c1;
		margin-bottom: 15px;
	}
	p{
		font-size: 17px;
		color: #636466;
		line-height: 1.76;
		font-family: $f3;
	}
	.ctrl{
		width: 430px;
		max-width: 100%;
		margin: 30px auto auto;
		a{
			display: block;
			font-size: 16px;
			height: 35px;
			line-height: 33px;
			text-transform: uppercase;
			text-align: center;
			font-weight: bold;
			&.view-more{
				background: $c1;
				color: #fff;
				margin-bottom: 20px;
			}
			&.back-home{
				border: solid 1px #7a7a7a;
				color: #636466;
			}
			&:hover{
				background: darken($c1, 8%);
				border-color: transparent;
				color: #fff;
			}
		}
	}
}

#acc-success, #reset-pass{
	.modal-dialog{
		height: 100%;
		margin: auto;
		@include fxcenter;
		.modal-content{
			display: block;
		}
	}
}
.reset-pass-ct{
	text-align: center;
	padding: 32px 10%;
	border: solid 2px #cdcdcd;
	border-radius: 0;
	position: relative;
	.i-close{
		position: absolute;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		top: -17px;
		right: -17px;
		background: #9d9d9d;
		color: #fff;
		font-size: 32px;
		line-height: 32px;
		box-shadow: 0 0 6px 0 rgba(#000, 0.3);
		&:hover{
			background: $c1;
		}
	}
	.title{
		font-size: 24px;
		color: #636466;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 15px;
	}
	p{
		font-size: 16px;
		color: #636466;
		font-family: $f3;
		margin-bottom: 20px;
	}
	
}
.reset-pass-fr{
	input{
		display: block;
		width: 100%;
		height: 35px;
		border: solid 1px #cfcfcf;
		@include place(#9f9f9f);
		font-family: $f3;
		margin-bottom: 40px;
	}
	.submit{
		background: $c1;
		color: #fff;
		padding: 5px 8px 7px 8px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		width: 220px;
		max-width: 100%;
		text-align: center;
		&:hover{
			background: darken($c1, 8%);
		}
	}
}
.update-pass{
	max-width: 480px;
	margin: 40px auto;
	text-align: center;
	.title{
		text-transform: uppercase;
		font-size: 36px;
		color: #636466;
		font-weight: bold;
		margin-bottom: 25px;
	}
	.reset-pass-fr{
		input{
			margin-bottom: 20px;
		}
		.submit{
			margin-top: 20px;
		}
	}
}
.account-wrap{
	background-image: url('../images/bg1.png');
	padding-top: 30px;
	// padding-bottom: 200px;
	padding-bottom: 40px;
	position: relative;
	z-index: 0;
	background-attachment: fixed;
	&:after{
		// content: '';
		z-index: -1;
		@include absolute(0);
		pointer-events: none;
		// background-image: url('../images/bg-f1.png');
		background-position: bottom center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
}
.sb-account{
	.asb-btn, .asb-btn-back{
		display: none;
	}
	.ct{
		background: #fff;
		padding: 25px 20px 40px 20px;
		.head{
			margin-bottom: 20px;
			.avata{
				width: 35px;
				height: 35px;
				border-radius: 50%;
				display: block;
				float: left;
				margin-top: 4px;
			}
			.text{
				margin-left: 45px;
				color: #636466;
				span{
					font-family: $f3;
				}
				.name{
					text-transform: uppercase;
					line-height: 20px;
					font-size: 16px;
				}
			}
		}
		li a{
			display: block;
			font-size: 17px;
			font-family: $f3;
			color: #292929;
			position: relative;
			padding: 12px 0 12px 26px;
			i{
				color: #939598;
				position: absolute;
				left: 0;
				margin-top: 4px;
			}
			&.active, &:hover{
				color: $c1;
				i{
					color: $c1;
				}
			}
		}
		.not-login{
			.title{
				font-size: 22px;
				color: #292929;
				margin-bottom: 10px;
			}
			p{
				font-family: $f3;
				color: #6d6e71;
				margin-bottom: 20px;
			}
			.ctrl{
				background: $c1;
				color: #fff;
				font-size: 16px;
				font-weight: bold;
				text-transform: uppercase;
				display: block;
				padding: 6px 8px 8px 8px;
				text-align: center;
				&:hover{
					background: darken($c1, 10%);
				}
			}
		}
	}
}

.account-pane{
	background: #fff;
	.head{
		padding: 17px 20px 17px 20px;
		border-bottom: solid 1px #e7e7e8;
		.i-select{
			@include middle;
			select{
				font-family: $f3;
				height: 32px;
				padding: 0 25px 0 12px;
			}
		}
		span{
			font-family: $f3;
			margin-right: 5px;
		}
		
	}
	.title{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 24px;
		color: #6d6e71;
		span{
			font-family: $f3;
			font-size: 15px;
			color: #777;
			font-weight: normal;
		}
	}
	.content{
		padding: 20px;
		font-family: $f3;
	}
}
.order-info{
	border-bottom: solid 1px #e7e7e8;
	padding-bottom: 13px;
	margin-bottom: 20px;
	p{
		margin-bottom: 5px;
		span{
			color: #777;
		}
	}
	.total{
		color: #777;
		strong{
			color: $c1;
			font-size: 24px;
		}
	}
}
.fr-line{
	padding-left: 125px;
	position: relative;
	font-family: $f3;
	color: #292929;
	font-size: 17px;
	margin-bottom: 30px;
	.text{
		position: absolute;
		left: 0;
		width: 115px;
		small{
			font-size: 75%;
			color: #939598;
			display: block;
		}
	}
	input[type="text"], input[type="email"], input[type="password"], input[type="password"], select{
		width: 100%;
		height: 35px;
		border: solid 1px #cdcdcd;
		font-family: inherit;
		@include place(#939598);
		&:focus{
			background: #e7e8ea;
		}
	}
	.submit{
		font-size: 16px;
		font-weight: bold;
		background: $c1;
		color: #fff;
		text-transform: uppercase;
		height: 35px;
		line-height: 35px;
		padding: 0 62px;
		&:hover{
			background: darken($c1, 8%);
		}
	}
}
.ac-radio{
	@include middle;
	cursor: pointer;
	input{
		display: none;
		&:checked + i{
			border-color: $c1;
			&:after{
				opacity: 1;
			}
		}
	}
	i{
		width: 18px;
		height: 18px;
		border-radius: 50%;
		@include middle;
		border: solid 2px #d0d0d0;
		margin-right: 10px;
		&:after{
			content: '';
			display: block;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: $c1;
			margin: 2px;
			opacity: 0;
		}
	}
}
.ac-check{
	@include middle;
	cursor: pointer;
	input{
		display: none;
		&:checked + i{
			border-color: $c1;
			background: $c1;
			&:after{
				opacity: 1;
			}
		}
	}
	i{
		width: 22px;
		height: 22px;
		@include middle;
		border: solid 2px #d0d0d0;
		margin-right: 10px;
		font-style: normal;
		text-align: center;
		font-size: 16px;
		line-height: 18px;
		&:after{
			font-family: 'ElegantIcons';
			content: "\4e";
			color: #fff;
		}
	}
	a{
		color: $c1;
		&:hover{
			text-decoration: underline;
		}
	}
}
.change-pass{
	display: none;
}
.account-tb{
	overflow: auto;
	font-size: 17px;
	font-family: $f3;
	color: #292929;
	table{
		width: 100%;
		min-width: 650px;
		th, td{
			border-bottom: solid 1px #e7e7e8;
			padding: 17px 10px 17px 10px;
			&:first-child{
				padding-left: 20px;
			}
			&:last-child{
				padding-right: 20px;
			}
		}
		th{
			color: #6d6e71;
			vertical-align: middle;
		}
		.orange{
			color: $c1;
		}
	}
}
.account-code-tb{
	table{
		td{
			color: #7a7a7a;
			&:first-child{
				color: #7a7a7a;
			}
			.code{
				font-family: $f3;
				color: inherit;
				padding: 0;
				display: inline;
				border: none;
				font-weight: bold;
			}
			.copy-code{
				@include middle;
				font-size: 12px;
				color: #292929;
				border: solid 1px #dedede;
				border-radius: 5px;
				padding: 3px 12px;
				font-family: $f3;
				opacity: 0;
				margin-left: 6px;
				@include smooth(0.15s);
				&:hover{
					background: $c1;
					border-color: $c1;
					color: #fff;
				}
			}
		}
	}
	tbody tr:hover{
		td{
			// font-weight: bold;
			color: #292929;
			.copy-code{
				opacity: 1;
			}
		}

	}
}

.order-process{
	margin: 20px;
	text-align: justify;
	font-size: 0;
	overflow: hidden;
	&:after{
		content: '';
		display: inline-block;
		width: 100%;
	}
	.item{
		font-size: 14px;
		@include middle;
		text-align: center;
		color: #949699;
		background: #fff;
		position: relative;
		z-index: 1;
		.icon{
			display: block;
			margin: auto auto 15px auto;
			font-size: 35px;
			height: 40px;
			line-height: 40px;
			background: #fff;
			color: #45ba4c;
			width: 70px;
			text-align: center;
			-webkit-filter: grayscale(100%);
	   	 	filter: grayscale(100%);
	   	 	opacity: 0.7;
	   	 	position: relative;

			i{
				@include middle;
			}
		}
		// &.active .icon{
		// 	-webkit-filter: initial;
	 //   	 	filter: initial;
	 //   	 	opacity: 1;
		// }
		// &.current{
		// 	color: #292929;
		// }
		
	}
	.prs-item{
		&:first-child{
			.icon{
				&:after{
		   	 		content: '';
		   	 		width: 9px;
		   	 		height: 9px;
		   	 		border-radius: 50%;
		   	 		background: #949699;
		   	 		position: absolute;
		   	 		top: 18px;
		   	 		right: -2px;
		   	 	}
			}
		}
		&:after{
			content: '';
			position: absolute;
			height: 2px;
			background: #dedede;
			width: 150%;
			top: 22px;
			margin-left: -150%;
		}
		&.active{
			.icon{
				-webkit-filter: initial;
		   	 	filter: initial;
		   	 	opacity: 1;
		   	 	&:after{
		   	 		background: #45ba4c;
		   	 	}
			}
			&:after{
				background: #45ba4c;
			}
			// &.current:nth-child(2):after{
			// 	background: #dedede;
			// }
		}
		&.current{
			.item{
				color: #292929;
			}
		}
	}
}
.content{
	.account-pro-tb{
		table{
			th, td{			
				&:last-child{
					padding-right: 0px;
				}
			}
		}
	}
}
.account-pro-tb{
	overflow: auto;
	font-size: 17px;
	font-family: $f3;
	color: #292929;
	table{
		width: 100%;
		min-width: 650px;
		th, td{			
			padding: 15px 10px;
			&.big{
				padding-left: 20px;
				width: 400px;
			}
			&:last-child{
				padding-right: 20px;
			}
		}
		th{
			vertical-align: middle;
			background: #e7e7e8;
			white-space: nowrap;
		}
		tr{
			border-bottom: solid 1px #e7e7e8;
		}
		td{
			padding: 20px 10px;
			
			a:hover{
				color: $c1;
			}
			.img{
				width: 80px;
				height: 80px;
				position: relative;
				display: block;
				float: left;
				margin-right: 13px;
				img{
					@extend %img-center;
				}
			}
			a.cancel{
				white-space: nowrap;
				text-align: center;
				i{
					color: #20609d;
				}
			}
			.tb-ct{
				margin-left: 94px;
				span{
					margin: 4px 0;
					display: block;
					color: #777777;
					font-size: 85%;
				}
			}
			.trash{
				font-size: 16px;
				color: #777777;
			}
		}
		.gray{
			color: #777;
		}
		.orange{
			color: $c1;
		}
		.add-cart{
			background: $c1;
			color: #fff;
			white-space: nowrap;
			font-size: 18px;
			color: #fff;
			padding:0px 28px 6px 28px;
			border-radius: 4px;
			i{
				font-size: 24px;
				vertical-align: middle;
				margin-left: 4px;
			}
			&:hover{
				background: darken($c1, 8%);
			}
		}
	}
	&.mid{
		th,td{
			vertical-align: middle;
		}
	}
	input, textarea, select{
		font-family: inherit;
	}
	.i-select{
		max-width: 300px;
		select{
			color: #777777;
			height: 35px;
			padding: 0 12px;
		}
		&:after{
			border-top: 5px solid #777777;
		}
	}
}
.account-pro-total{
	font-family: $f3;
	font-size: 17px;
	margin: 0 20px;
	background: #f9f9f9;
	padding: 15px 20px;
	line-height: 2;
	span{
		color: $c1;
	}
}
.receiver-box{
	border: solid 1px #eaebed;
	padding: 15px 20px 10px 20px;
	margin-top: 5px;
	margin-bottom: 15px;
	p{
		margin-bottom: 5px;
		span{
			color: #949699;
		}
	}
}
.order-cancel-pop{
	border: solid 1px #f26522;
	padding: 14px;
	font-family: $f3;
	background: #fff;
	position: absolute;
	z-index: 5;
	max-width: 300px;
	display: none;
	margin-left: 35px;
	margin-top: 30px;
	p{
		margin-bottom: 3px;
	}
	&:before, &:after{
		content: '';
		position: absolute;
		bottom: 100%;
		left: 50%;
		width: 0;
		height: 0;
		margin-left: -12px;
	}
	&:before{
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 14px solid #f26522;
	}
	&:after{
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 14px solid #fff;
		margin-bottom: -2px;
	}
}

.cancel-order-message{
	margin-top: 25px;
	margin-bottom: 25px;
	textarea{
		font-family: inherit;
		width: 100%;
		border: solid 1px #949699;
		height: 125px;
		resize: none;
		display: block;
		margin-top: 10px;
	}
	p{
		span{
			color: #777;
		}
	}
}
.cancel-order-policy{
	background: #f1f1f1;
	padding: 15px;
	margin-top: 10px;
	margin-bottom: 30px;
	.s-content{
		background: #fff;
		padding: 15px 15px 10px 15px;
		margin-bottom: 15px;
		p{
			margin-bottom: 6px;
		}
	}
}
.cancel-order-fr{
	.submit{
		padding: 5px 50px 7px 50px;
	}
}
.order-cancel-success{
	margin-bottom: 20px;
	text-align: center;
	margin-top: 20px;
	i{
		margin: auto;
		font-size: 72px;
		color: $c1;
	}
	.i-title{
		text-transform: uppercase;
		color: $c1;
		font-size: 24px;
		font-weight: bold;
		margin-top: 15px;
		font-family: $f1;
		margin-bottom: 20px;
	}
	p{
		font-weight: bold;
	}
}



@media (min-width: 768px){
	#acc-success{
		.modal-dialog {
			max-width: 665px;
		}
	}
}
@media (min-width: 1200px){
	.sb-account{
		margin-right: 40px;
	}
	.ct-account{
		margin-left: -40px;
	}
}
@media (min-width: 1550px){
	.sb-account{
		margin-right: 100px;
	}
	.ct-account{
		margin-left: -100px;
	}
}
@media (max-width: 1549px){
	.account-pane{
		.title{
			font-size: 20px;
		}
	}
	.fr-line{
		font-size: 14px;
		margin-bottom: 20px;
	}
	.account-tb, .account-pro-tb, .account-pro-total{
		font-size: 14px;
	}
	.order-cancel-success{
		i{
			font-size: 64px;
		}
		.i-title{
			font-size: 22px;
			margin-bottom: 15px;
		}
	}
	.update-pass{
		.title{
			font-size: 28px;
		}
	}
}

@media (max-width: 991px){
	.sb-account{
		.asb-btn{
			display: block;
			position: fixed;
			top: 30%;
			width: 40px;
			height: 40px;
			left: 0;
			background: #ccc;
			color: $c1;
			z-index: 1;
			font-size: 21px;
			line-height: 38px;
		}
		.ct{
			position: fixed;
			top: 0;
			bottom: 0;
			width: 250px;
			z-index: 11;
			left: -250px;
			box-shadow: 0 0 5px 0 rgba(#000, 0.1);
			overflow: auto;
			@include transition(0.2s);
		}
		.asb-btn-back{
			display: block;
			font-family: $f3;
			display: block;
			margin-top: 20px;
			color: #888;
			i{margin-right: 10px}
			&:hover{
				color: $c1;
			}
		}
		&:before{
			content: '';
			@include fixed(0);
			z-index: 10;
			background: rgba(#000, 0.5);
			pointer-events: none;
			opacity: 0;
		}
		&.active{
			.ct{
				left: 0;
			}
			&:before{
				opacity: 1;
			}
		}
	}
	.account-wrap{
		// padding-bottom: 80px;
	}
	.order-cancel-pop{
		margin-left: -5px;
		min-width: 200px;
		margin-top: 20px;
		&:before, &:after{
			content: none;
		}
	}
	.account-pro-tb{
		table{
			td{
				padding: 10px;
			}
		}
	}
}

@media (max-width: 767px){
	.account-pane button.btn-gray{
		margin-top: 10px;
	}
	.tks-content{
		padding: 20px 20px 30px 20px;
		.title{
			font-size: 24px;
		}
		p{
			font-size: 14px;
		}
		.ctrl a{
			font-size: 15px;
			font-weight: normal;
			margin-bottom: 15px;
		}
	}
	#acc-success{
		padding: 0 15px;
	}
	#reset-pass{
		padding: 0 17px;
	}
	.fr-line{
		padding-left: 0;
		.text{
			position: static;
			margin-bottom: 5px;
			width: auto;
			small{
				display: inline;
			}
		}
	}
	.h-only-pro.v2{
		.i-title{
			padding-left: 30px;
			margin-bottom: 5px;
			&:after{
				left: -23px;
			}
		}
	}
	.account-wrap{
		// padding-bottom: 50px;
	}
	.account-pane .content{
		padding: 20px 12px;
	}
}