.blog-header{
	background: #6d6d70;
	.blog-h-bar{
		background: #636363;
	}
	.search-form{
		margin-right: 0;
	}
	.blog-h-top{
		padding: 6px 0;
	}
	.h-account{
		margin-right: 20px;
		margin-left: 50px;
		&:before{
			left: -25px;
		}
	}
	.h-cart{
		&:before{
			content: '';
			width: 1px;
			height: 22px;
			background: #fff;
			position: absolute;
			top: 50%;
			margin-top: -11px;
			left: -25px;
		}
	}
	.h-category{
		margin-right: 55px;
	}
	.blog-nav{
		margin-left: -55px;
		margin-right: 65px;
	}
	.blog-h-ctrl{
		margin-left: -65px;
	}
}
.pro-nav{
	&>ul{
		display: flex;
		justify-content: space-between;
		&>li{
			&>a{
				font-family: $f3;
				font-size: 12px;
				text-align: center;
				display: block;
				color: #fff;
				.icon{
					display: block;
					height: 26px;
					line-height: 26px;
					position: relative;
					margin-bottom: 5px;
					img{
						@extend %img-center;
					}
					i{
						@include middle;
					}
				}
			}
			&:hover>a{
				color: $c1;
			}
		}
	}
}
.blog-nav{
	&>ul{
		display: flex;
		justify-content: space-between;
		&>li{
			&>a{
				text-transform: uppercase;
				color: #fff;
				font-size: 17px;
			}
			&:hover{
				a{
					color: $c1;
				}
			}
		}
	}
}

@media all and (min-width: 1550px){
	.blog-header .search-form{margin-left: -30px;}
}
@media all and (max-width: 1549px){
	.blog-header{
		.h-account{
			margin-right: 10px;
			margin-left: 30px;
			&:before{
				left: -15px;
			}
		}
		.blog-nav{
			margin-right: 88px;
		}
		.blog-h-ctrl{
			margin-left: -88px;
			.h-cart{
				margin-left: 0;
				&:before{
					left: -15px;
				}
			}
		}
	}
}
@media all and (max-width: 1199px){
	.blog-header{
		.h-category{
			margin-right: 0;
		}
		.blog-nav{
			margin-left: -10px;
			&>ul>li>a{
				font-size: 15px;
			}
		}
		.blog-h-ctrl{

		}
		.h-cart{
			&:before{content: none;}
		}
		.hc-hotline{
			strong{
				font-size: 21px;
			}
		}
		.h-account{
			margin-left: 10px;
			&:before{content: none;}
		}
	}
}
@media all and (max-width: 991px){
	.blog-header{
		position: relative;
		padding-top: 15px;
		padding-bottom: 8px;
		.blog-h-top{
			padding: 0;
		}
		.blog-h-bar{
			background: none;
			display: inline;
		}
		.h-cart, .h-account{
			display: none;
		}
		.logo{
			img{
				max-width: 130px;
			}
		}
		.search-form{
			margin-top: 18px;
			margin-left: 40px;
		}
		.hc-hotline{
			position: absolute;
			top: 15px;
			transform: translateX(-100%);
			font-family: $f3;
			padding-left: 30px;
			margin-left: -40px;
			.ic-hotline{
				width: 30px;
				height: 30px;
				left: 2px;
				margin-top: -15px;
			}
			strong{
				font-size: 17px;
				height: 26px;
				line-height: 27px;
				padding: 0 6px 0 4px;
			}
		}
		.h-category{
			position: absolute;
			bottom: 10px;
			.title{
			    font-size: 21px;
			    font-weight: normal;
			    width: 40px;
			    height: 42px;
			    padding: 0;
			    line-height: 41px;
			    text-align: center;
			    background: #f26522;
			    span{display: none;}
			    i{
			    	display: inline-block;
			    }
			}
		}
		.menu-btn{
			position: absolute;
			top: 8px;
			margin-left: -30px;
		}
	}

	.m-nav{
		.pro-nav{
			margin-top: 15px;
			&>ul{
				display: block;
				&>li{
					&>a{
						padding: 10px 10px 10px 60px;
						position: relative;
						font-size: 14px;
						line-height: 20px;
						text-align: left;
						border-top: solid 1px #666;
						.icon{
							width: 30px;
							height: 30px;
							text-align: center;
							line-height: 30px;
							position: absolute;
							left: 15px;
							top: 5px;
						}
					}
				}
			}
		}
		.blog-nav{
			&>ul{
				display: block;
				&>li{
					&>a{
						display: block;
						text-transform: initial;
						padding: 10px 10px 10px 60px;
						border-top: solid 1px #666;
						font-size: 14px;
						line-height: 20px;
						font-family: $f3;
					}
				}
			}
		}
	}
}


.blog-tab{
	text-align: center;
	margin-bottom: 30px;
	li{
		@include middle;
		margin: 0 5px;
		a{
			display: block;
			font-weight: bold;
			color: #636466;
			font-size: 18px;
			text-transform: uppercase;
			border: solid 1px #ccc;
			width: 223px;
			max-width: 100%;
			line-height: 48px;
		}
		&.active, &:hover{
			a{
				color: $c1;
				border-color: $c1;
			}
		}
	}
}

.pg-head{
	margin-bottom: 25px;
	.h-title{
		@include middle;
		margin: 0 40px 8px 0;
	}
	.list{
		@include middle;
		li{
			@include middle;
			border-right: solid 1px #ccc;
			padding-right: 20px;
			margin-right: 15px;
			line-height: 1;
			margin-bottom: 5px;
			&:last-child{
				border-right: none;
				padding-right: 0;
				margin-right: 0;
			}
			a{
				text-transform: uppercase;
				font-weight: bold;
				color: #636466;
				font-size: 18px;
				display: block;
			}
			&.active, &:hover{
				a{
					color: $c1;
				}
			}
		}
	}
}

.big-post{
	position: relative;
	margin-bottom: 15px;
	height: 250px;
	overflow: hidden;
	&:before{
		content: '';
		@include absolute_(20%,0,0,0);
		@include gradient((transparent,rgba(#000, 0.8)));
	}
	img{
		display: block;
		width: 100%;
	}
	.ct{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 25px;
		z-index: 1;
		color: #fff;
		.tag{
			@include middle;
			background: $c1;
			text-transform: uppercase;
			font-family: $f3;
			font-size: 11px;
			padding: 2px 10px;
		}
		.title{
			font-size: 30px;
			line-height: 1.2;
			margin-top: 10px;
			margin-bottom: 10px;
			a:hover{
				color: $c1;
			}
		}
		p{
			font-family: $f3;
			color: #cdcdcd;
			font-size: 17px;
			line-height: 2;
		}
		time{
			font-size: 16px;
			i{
				margin-right: 10px;
			}
		}
	}
	&.video{
		
		&:hover:after{
			background: rgba(#fff, 0.5);
		}
	}
	.link{
		@include absolute(0);
		z-index: 2;
	}
}

.sm-post{
	margin-bottom: 16px;
	position: relative;
	height: 70px;
	overflow: hidden;
	.img{
		float: left;
		display: block;
		position: relative;
		width: 170px;
		img{
			display: block;
			width: 100%;
		}
	}
	&.video{
		.img{
			&:hover{
				&:after{
					background: rgba(#fff, 0.6);
				}
			}
		}
	}
	.ct{
		margin-left: 190px;
		.tag{
			@include middle;
			background: $c1;
			text-transform: uppercase;
			font-family: $f3;
			font-size: 11px;
			padding: 2px 10px 1px 10px;
			color: #fff;
			margin-bottom: 6px;
		}
		.title{
			font-size: 17px;
			line-height: 35px;
			color: #292929;
			max-height: 103px;
			overflow: hidden;
			a:hover{
				color: $c1;
			}
		}
	}
	.link{
		@include absolute(0);
		z-index: 1;
	}
	&:hover{
		&.video .img:after{
			background: rgba(#fff, 0.6);
		}
		.ct .title a{color: $c1;}
	}
}

.s-pagination{
	font-family: $f3;
	margin: 10px auto 30px auto;
	a, strong{
		font-weight: normal;
		width: 26px;
		height: 26px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		font-size: 14px;
		line-height: 26px;
		color: #292929;
		background: #eee;
		margin: 0 2px;
	}
	a:hover, strong{
		background: #ccc;
	}
}

.sb-banner{
	text-align: center;
	max-width: 380px;
	margin: 0 auto 25px auto;
	img{
		display: block;
		width: 100%;
	}
}

.post{
	margin-bottom: 15px;
	.img{
		display: block;
		position: relative;
		float: left;
		width: 350px;
		height: 190px;
		overflow: hidden;
		.c-img{
			padding-top: 75.5%;
		}
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.ct{
		margin-left: 380px;
		time{
			font-size: 16px;
			color: #939598;
			display: block;
			margin-bottom: 5px;
			i{
				font-size: 14px;
				margin-right: 5px;
			}
		}
		.title{
			text-transform: uppercase;
			font-size: 18px;
			line-height: 30px;
			color: #292929;
			margin-bottom: 10px;
			max-height: 60px;
			overflow: hidden;
			a:hover{
				color: $c1;
			}
		}
		p{
			font-size: 16px;
			font-family: $f3;
			color: #636466;
			line-height: 30px;
			max-height: 90px;
			overflow: hidden;
			margin-bottom: 25px;
		}
		.more{
			font-size: 16px;
			text-transform: uppercase;
			color: $c1;
			font-weight: bold;
			i{
				margin-left: 10px;
				@include middle;
				margin-top: -2px;
			}
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&.v2{
		.ct{
			padding-top: 15px;
		}
	}
}
.m-langer-post{
	.img{
		display: block;
		img{
			display: block;
			width: 100%;
		}
	}
	.title{
		color: #292929;
		@include fixhe(17px,26px,2);
		a:hover{
			color: $c1;
		}
	}
	p{
		color: #777777;
		font-family: $f3;
		@include fixhe(16px,24px,2);
		margin-top: 5px;
	}
	.item{
		border-bottom: solid 1px #ccc;
		padding-bottom: 10px;
		margin-top: 12px;
		&:last-child{
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}
.b-post{
	margin-bottom: 30px;
	.c-img{
		padding-top: 67%;
		margin-bottom: 15px;
	}
	.title{
		text-transform: uppercase;
		color: #292929;
		font-size: 18px;
		line-height: 1.66;
		a:hover{
			color: $c1;
		}
	}
}
.single{
	.thumb{
		img{
			display: block;
			width: 100%;
		}
	}
}
.single-content{
	position: relative;
	padding: 10px 45px 30px 45px;
	box-shadow: 0 2px 7px 0 rgba(#000, 0.15);
	.cate{
		position: absolute;
		top: 0;
		left: 0;
		background: $c1;
		color: #fff;
		font-size: 17px;
		padding: 9px 22px 10px 24px;
		text-transform: uppercase;
		i{
			vertical-align: middle;
			margin-left: 6px;
			margin-top: -2px;
		}
	}
	.title{
		font-size: 45px;
		color: #292929;
		line-height: 1.1;
		margin-bottom: 25px;
	}
	.s-content{
		color: #292929;
		font-size: 17px;
		line-height: 1.7;
		font-family: $f3;
		p{
			margin-bottom: 20px;
		}
	}
}
.sb-posts{
	margin-bottom: 30px;
}
.sb-post{
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: solid 1px #ccc;
	&:last-child{
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: none;
	}
	.img{
		display: block;
		float: left;
		width: 128px;
	}
	.ct{
		margin-left: 150px;
		time{
			font-size: 16px;
			color: #939598;
			display: block;
			margin-bottom: 5px;
			i{
				font-size: 14px;
				margin-right: 5px;
			}
		}
		.title{
			color: #292929;
			@include fixhe(16px,26px,3);
			a:hover{
				color: $c1;
			}
		}
	}
}

.rec-post{
	margin-bottom: 10px;
	background: #f7f7f7;
	.img{
		width: 273px;
		float: left;
		display: block;
		.c-img{
			padding-top: 92.7%;
		}
	}
	.ct{
		margin-left: 292px;
		padding-top: 15px;
		padding-right: 10px;
		padding-bottom: 1px;
		time{
			font-size: 16px;
			color: #939598;
			display: block;
			margin-bottom: 4px;
			i{margin-right: 5px;}
		}
		.title{
			color: #292929;
			@include fixhe(24px,36px,2);
			margin-bottom: 10px;
			a:hover{
				color: $c1;
			}
		}
		p{
			font-family: $f3;
			color: #6d6e71;
			@include fixhe(17px,36px,3);
		}
	}
}

.recruit-list{
	.item{
		border-bottom: solid 1px #dedede;
		padding: 20px 0;
		.title{
			color: #292929;
			font-size: 24px;
			margin: 10px auto;
			a:hover{
				color: $c1;
			}
		}
		time{
			font-size: 16px;
			color: #939598;
			i{margin-right: 5px;}
		}
		.more{
			@include middle;
			background: $c1;
			color: #fff;
			text-transform: uppercase;
			font-size: 16px;
			font-weight: bold;
			padding: 4px 35px 7px 35px;
			&:hover{
				background: darken($c1, 8%);
			}
		}
	}
}

.k-post-big{
	position: relative;
	margin-bottom: 10px;
	&:after{
		content: '';
		@include absolute_(50%,0,0,0);
		@include gradient((transparent,rgba(#000, 0.6)));
	}
	.c-img{
		padding-top: 54%;
	}
	.caption{
		position: absolute;
		bottom: 25px;
		left: 0;
		z-index: 1;
		right: 0;
		padding: 0 55px 0 55px;
		.title{
			font-size: 48px;
			color: #fff;
			line-height: 1.2;
			margin-bottom: 20px;
			a:hover{
				color: $c1;
			}
		}
		.more{
			@include middle;
			font-size: 19px;
			text-transform: uppercase;
			color: #fff;
			background: $c1;
			padding: 12px 60px;
			&:hover{
				background: darken($c1, 8%);
			}
		}
	}
}
.k-post-nor{
	position: relative;
	margin-bottom: 10px;
	&:after{
		content: '';
		@include absolute_(50%,0,0,0);
		@include gradient((transparent,rgba(#000, 0.6)));
	}
	.c-img{
		padding-top: 39.4%;
	}
	.title{
		position: absolute;
		bottom: 20px;
		left: 0;
		z-index: 1;
		right: 0;
		padding: 0 20px 0 20px;
		font-size: 18px;
		color: #fff;
		line-height: 1.4;
		a:hover{
			color: $c1;
		}
	}
}
.k-post-first{
	margin-bottom: 45px;
	.cell{
		vertical-align: top;
		&:first-child{
			width: 69%;
		}
		&:last-child{
			padding-left: 10px;
		}
	}
}
.k-post-cate{
	position: absolute;
	top: 0;
	left: 0;
	background: $c1;
	color: #fff;
	text-transform: uppercase;
	font-size: 17px;
	padding: 0px 20px;
	line-height: 45px;
	&:after{
		content: '';
		position: absolute;
		top: 0;
		width: 0;
		height: 0;
		border-top: 45px solid $c1;
		border-right: 35px solid transparent;
		right: -35px;
	}
	i{
		margin-left: 10px;
		@include middle;
		margin-top: -2px;
	}
	&:hover{
		opacity: 0.9;
		color: #fff;
	}
}
.k-post-single{
	margin-right: 70px;
	margin-bottom: 30px;
	.c-img{
		padding-top: 66.66%;
		z-index: -1;
	}
}
.k-post-list{
	box-shadow: 0 0 8px 0 rgba(#000, 0.2);
	margin-left: -70px;
	margin-bottom: 30px;
	border-top: solid 3px $c1;
	.item{
		border-bottom: solid 1px #e7e8ea;
		padding: 22px 20px;
		&:last-child{
			border-bottom: none;
		}
		time{
			font-size: 16px;
			color: #939598;
			i{
				@include middle;
				margin-top: -4px;
				margin-right: 5px;
			}
		}
		.title{
			color: #292929;
			@include fixhe(17px,30px,3);
			margin-top: 10px;
			a:hover{
				color: $c1;
			}
		}
	}
}
.k-post-banner{
	margin-bottom: 30px;
	img{
		display: block;
		width: 100%;
	}
}
.k-post-box{
	&.v2{
		.k-post-list{
			border-top-color: #f7941d;
		}
		.k-post-cate{
			background:#f7941d;
			&:after{
				border-top: 45px solid #f7941d;
			}
		}
	}
}

.sb-subscriber{
	margin-bottom: 30px;
	text-align: center;
	color: #title;
	padding: 40px 30px 93px 30px;
	color: #7b7e83;
	background-image: url('../images/bg-sb-subs.jpg');
	background-position: bottom center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	box-shadow: 0 0 8px 0 rgba(#000, 0.2);
	i{
		font-size: 36px;
	}
	.title{
		font-size: 36px;
		text-transform: uppercase;
		line-height: 1.2;
		margin-top: 25px;
	}
	label{
		font-size: 26px;
		margin-bottom: 15px;
	}
	p{
		font-family: $f3;
		font-size: 16px;
		line-height: 1.62;
		margin-bottom: 35px;
	}
}
.sb-subs-fr{
	.input{
		width: 100%;
		border: none;
		height: 58px;
		background: #f5f5f5;
		text-align: center;
		font-family: $f3;
		font-size: 16px;
		@include place(#7b7e83);
	}
	button{
		background: #b2c635;
		color: #fff;
		text-transform: uppercase;
		font-size: 18px;
		width: 100%;
		display: block;
		height: 48px;
		i{
			font-size: 16px;
			margin-left: 8px;
		}
		&:hover{
			background: $c1;
		}
	}
}
.k-sb-banner{
	margin-bottom: 30px;
}
.sb-action{
	box-shadow: 0 0 8px 0 rgba(#000, 0.2);
	margin-bottom: 30px;
	.i-title{
		background: #f7941d;
		text-align: center;
		text-transform: uppercase;
		color: #fff;
		font-size: 16px;
		padding: 10px 0 0 0;
		position: relative;
		margin-bottom: 30px;
		&:after{
			content: '';
			height: 16px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -16px;
			background-image: url('../images/bor-arrow.png');
			background-size: 100% 100%;
			background-position: center top;
		}
	}
	.item{
		margin: 0 35px;
		border-bottom: solid 1px #dedede;
		text-align: center;
		padding-bottom: 30px;
		margin-bottom: 27px;
		.title{
			text-transform: uppercase;
			color: #f7941d;
			font-size: 16px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		p{
			font-size: 16px;
			color: #292929;
			line-height: 1.62;
			font-family: $f3;
		}
		&:last-child{
			border-bottom: none;
			margin-bottom: 0;
		}
	}
}





@media all and (max-width: 1549px){
	.big-post{
		.ct{
			.title{
				font-size: 24px;
			}
			p{
				font-size: 15px;
				line-height: 1.8;
			}
		}
	}
	.sm-post{
		.img{
			width: 120px;
		}
		.ct{
			margin-left: 135px;
			.title{
				font-size: 15px;
				line-height: 22px;
				max-height: 66px;
			}
		}
	}
	.post{
		.img{
			width: 250px;
			height: 190px;
			overflow: hidden;
		}
		.ct{
			margin-left: 270px;
			time{
				font-size: 14px;
			}
			.title{
				font-size: 16px;
				line-height: 26px;
				max-height: 52px;
			}
			p{
				font-size: 14px;
				line-height: 22px;
				max-height: 66px;
				margin-bottom: 15px;
			}
			.more{
				font-size: 14px;
			}
		}
	}

	.m-langer-post{
		.title{
			font-family: $f3;
			font-weight: bold;
			@include fixhe(15px,22px,2);
		}
		p{
			@include fixhe(14px,20px,2);
		}
		.item{
			padding-bottom: 8px;
			margin-top: 8px;
		}
	}

	.b-post{
		.title{
			font-size: 15px;
		}
	}
	.single-content{
		padding: 20px 25px 20px 25px;
		.title{
			font-size: 32px;
		}
	}
	.sb-post{
		.img{
			width: 100px;
		}
		.ct{
			margin-left: 110px;
			time{
				font-size: 14px;
			}
			.title{
				@include fixhe(15px,22px,3);
			}
		}
	}

	.rec-post{
		.img{
			width: 201px;
		}
		.ct{
			margin-left: 215px;
			time{
				color: #939598;
				font-size: 14px;
				i{margin-right: 5px;}
			}
			.title{
				color: #292929;
				@include fixhe(18px,26px,2);
			}
			p{
				@include fixhe(14px,21px,3);
			}
		}
	}

	.recruit-list{
		.item{
			padding: 10px 0;
			.title{
				font-size: 20px;
			}
			time{
				font-size: 15px;
			}
		}
	}

	.k-post-big{
		.caption{
			padding: 0 30px;
			.title{
				font-size: 30px;
			}
			.more{
				font-size: 16px;
				padding: 10px 40px;
			}
		}
	}

	.k-post-list{
		.item{
			padding: 12px 20px;
			time{
				font-size: 14px;
			}
			.title{
				@include fixhe(15px,23px,3);
				margin-top: 5px;
			}
		}
	}

	.sb-subscriber{
		padding: 20px 20px 50px 20px;
		i{
			font-size: 28px;
		}
		.title{
			font-size: 28px;
			margin-top: 20px;
		}
		label{
			font-size: 18px;
		}
		p{
			font-size: 14px;;
			margin-bottom: 22px;
		}
	}
	.sb-subs-fr{
		.input{
			height: 40px;
			font-size: 14px;
		}
		button{
			font-size: 16px;
			height: 40px;
			i{
				font-size: 16px;
			}
		}
	}
	.sb-action{
		.i-title{
			font-size: 14px;
		}
		.item{
			margin: 0 15px;
			padding-bottom: 20px;
			margin-bottom: 20px;
			p{
				font-size: 14px;
			}
		}
	}
}

@media (max-width: 1199px){
	.k-post-single{
		margin-right: 45px;
	}
	.k-post-list{
		margin-left: -45px;
		.item{
			padding: 9px 10px 9px 15px;
			.title{
				@include fixhe(14px,20px,3);
				margin-top: 5px;
			}
		}
	}
}

@media (max-width: 991px){
	.k-post-big .caption{
		.title{
			font-size: 20px;
		}
		.more{
			font-size: 14px;
			padding: 8px 30px;
		}
	}
	.k-post-nor{
		.title{
			font-size: 16px;
			bottom: 10px;
		}
	}
}

@media (max-width: 767px){
	.big-post{
		.ct{
			padding: 15px;
			.title{
				font-size: 16px;
				line-height: 1.2;
				margin-bottom: 0;
			}
			p{
				display: none;
			}
		}
		&.video{
			&:after{
				width: 40px;
				height: 40px;

				margin-top: -20px;
				margin-left: -20px;
				font-size: 32px;
				line-height: 40px;
			}
		}
	}
	.pg-head .list li a{
		font-size: 16px;
	}
	.post{
		.img{
			width: 115px;
			height: 150px;
			overflow: hidden;
		}
		.ct{
			margin-left: 125px;
			font-family: $f3;
			time{
				font-size: 12px;
				margin-bottom: 3px;
			}
			.title{
				font-size: 14px;
				font-weight: bold;
				text-transform: none;
				margin-bottom: 0px;
				line-height: 21px;
				max-height: 63px;
				overflow: hidden;
				a:hover{
					color: $c1;
				}
			}
			p{
				display: none;
			}
			.more{
				display: none;
			}
		}
		&.v2{
			.ct{
				padding-top: 0px;
			}
		}
	}
	.sm-post .ct .title{
		font-family: $f3;
		font-weight: bold;
		font-size: 14px;
	}
	.m-langer-post .title, .m-langer-post p{height: auto;}
	.single-content .s-content{
		font-size: 15px;
	}
	.rec-post{
		.img{
			width: 120px;
		}
		.ct{
			margin-left: 130px;
			padding-top: 10px;
			time{
				color: #939598;
				font-family: $f3;
				font-size: 14px;
				i{margin-right: 5px;}
			}
			.title{
				font-family: $f3;
				font-weight: bold;
				@include fixhe(14px,21px,3);
			}
			p{
				display: none;
			}
		}
	}
	.recruit-list .item{
		.title{
			font-family: $f3;
			font-size: 16px;
			font-weight: bold;
		}
		.more{
			font-family: $f3;
			font-size: 14px;
			padding: 5px 20px;
		}
	}
	.k-post-first{
		padding: 0 15px;
		.table{
			display: block;
		}
		.cell{
			display: block;
			&:first-child{
				width: auto;
			}
			&:last-child{
				padding-left: 0px;
			}
		}
	}
	.k-post-single{
		margin-right: 0;
	}
	.k-post-list{
		margin-left: 0;
		.item{
			padding: 15px;
			.title{
				font-family: $f3;
				height: auto;
				font-weight: bold;
			}
		}
	}
}

@media (max-width: 575px){
	.blog-tab{
		li{
			a{
				font-size: 16px;
				width: auto;
				line-height: 42px;
				padding: 0 25px;
			}
		}
	}
}