.cart-header{
	background: #fff;
	box-shadow: 0 0 6px 0 rgba(#000, 0.3);
	padding: 20px 0;
	.h-account{
		color: #6d6e71;
		margin-right: 45px;
		margin-left: 0;
		&:before{content: none;}
		i{
			margin-top: -12px;
		}
	}
}
.bk-process{
	background: #fff;
	padding: 30px 0px 20px 0px;
	margin: 30px auto;
	.item{
		text-align: center;
		text-transform: uppercase;
		color: #949699;
		font-size: 18px;
		.num{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			border: solid 2px #dedede;
			text-align: center;
			font-size: 17px;
			line-height: 26px;
			background: #dedede;
			color: #a5a4a4;
			margin: 0 auto 20px auto;
			position: relative;
			z-index: 1;
		}
		&:after{
			content: '';
			position: absolute;
			top: 15px;
			height: 2px;
			background: #dedede;
			width: 100%;
			transform: translateX(-100%);
		}
		&.active{
			.num{
				border-color: $c1;
				background: $c1;
				color: #fff;
			}
			&:after{
				background: $c1;
			}
		}
		&.current{
			color: #292929;
			.num{
				border-color: $c1;
				color: #292929;
				background: #fff;
			}
		}
	}
	.col-item:first-child{
		.item:after{
			content: none;
		}
	}
}

.bk-success{
	text-align: center;
	background: #fff;
	padding: 45px 20px 50px 20px;
	margin-bottom: 30px;
	.title{
		color: $c1;
		text-transform: uppercase;
		text-align: center;
		font-size: 24px;
		margin-bottom: 30px;
		i{
			font-size: 80px;
			vertical-align: middle;
			margin-right: 13px;
		}
	}
	p{
		font-family: $f3;
		margin-bottom: 5px;
		font-size: 17px;
		color: #292929;
		span{
			color: #6d6e71;
		}
		a{
			color: $c1;
		}
	}
	.def-btn{
		margin-top: 40px;
		padding: 4px 30px 7px 30px;
	}
}

.cart-tb{
	overflow: auto;
	background: #fff;
	margin-bottom: 30px;
	table{
		width: 100%;
		min-width: 500px;
		th{
			background: #dcdada;
			padding: 15px 20px;
			text-transform: uppercase;
			text-align: center;
			&:first-child{
				text-align: left;
			}
		}
		td{
			padding: 15px 20px;
			border-bottom: solid 1px #d4d5d6;
			text-align: center;
			&:first-child{
				text-align: left;
			}
			.img{
				width: 80px;
				height: 80px;
				display: block;
				position: relative;
				border: solid 1px #d4d5d6;
				float: left;
				img{
					@extend %img-center;
					max-width: 90%;
					max-height: 90%;
				}
			}
			.ct-img{
				margin-left: 92px;
				.title{
					text-transform: uppercase;
					font-size: 18px;
					display: block;
					min-height: 25px;
					height: 50px;
					overflow: hidden;
					&:hover{
						color: $c1;
					}
				}
				.remove{
					font-size: 22px;
					color: #949699;
					&:hover{
						color: $c1;
					}
				}
			}
			&.price{
				font-size: 22px;
				color: $c1;
			}
		}
		tr:last-child td{
			border-bottom: none;
		}
	}
	.i-number input{font-weight: bold;}
}

.i-number{
	font-size: 0;
	@include ibl(middle);
	position: relative;
	padding: 0 35px;
	input{
		font-family: $f3;
		display: block;
		width: 80px;
		font-size: 14px;
		height: 35px;
		color: #777;
		// padding-right: 30px;
		// padding-left: 30px;
		border: none;
		border-top: solid 1px #ccc;
		border-bottom: solid 1px #ccc;
		text-align: center;
	}
	.n-ctrl, span.n-ctrl{
		cursor: pointer;
		position: absolute;
		font-size: 24px;
		line-height: 1;
		text-align: center;
		top: 0;
		height: 100%;
		font-weight: bold;
		background: #cccccc;
		color: #fff;
		width: 35px;
		&:hover{
			background: $c1;
		}
		&:after{
			font-family: FontAwesome;
		}
		&.up{
			right: 0;
			&:after{
				content: "\002B";
			}
		}
		&.down{
			left: 0;
			&:after{
				content: "\2212";	
			}
		}
	}
}
.cart-info{
	font-family: $f3;
	background: #fff;
	padding: 20px;
	margin-bottom: 30px;
	.i-title{
		font-weight: bold;
		font-size: 20px;
		color: #202020;
		margin-bottom: 10px;
	}
	.table{
		font-size: 16px;
		margin-bottom: 15px;
		.orange{
			font-size: 18px;
			color: $c1;
		}
		.line .cell{
			padding-bottom: 8px;
		}
	}
	.coupon-fr{
		position: relative;
		width: 100%;
		margin-bottom: 15px;
		input{
			font-family: inherit;
			@include place(#949699);
			height: 45px;
			border: solid 1px #8f8f8f;
			width: 100%;
		}
		button{
			position: absolute;
			top: 0;
			font-size: 16px;
			bottom: 0;
			right: 0;
			background: #949699;
			color: #fff;
			text-transform: uppercase;
			padding: 0 15px;
			&:hover{
				background: $c1;
			}
		}
	}
	.booking-btn{
		background: $c1;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		display: block;
		width: 100%;
		padding: 12px 0 14px 0;
		&:hover{
			background: darken($c1, 8%);
		}
		&.disable{
			background: #cccccc;
			pointer-events: none;
		}
	}
	.coupon-label{
		margin-bottom: 20px;
		label{
			display: block;
			background: #eeeeee;
			border: solid 1px #cccccc;
			padding: 11px 15px;
			color: #7a7a7a;
			font-size: 16px;
		}
		p{
			color: #7a7a7a;
			margin-top: 8px;
			span{
				color: $c1;
			}
		}
	}
}
.cart-info-tb{
	margin-bottom: 20px;
	border-bottom: solid 1px #cccccc;
	padding-bottom: 12px;
	table{
		width: 100%;
	}
	td{
		padding: 8px 0;
		color: #292929;
		vertical-align: middle;
		.img{
			width: 50px;
			height: 50px;
			border: solid 1px #cccccc;
			display: block;
			position: relative;
			margin-right: 5px;
			img{
				@extend %img-center;
				max-height: 80%;
				max-width: 80%;
			}
			span{
				position: absolute;
				background: $c1;
				color: #fff;
				width: 18px;
				height: 18px;
				border-radius: 50%;
				line-height: 18px;
				text-align: center;
				top: -9px;
				right: -9px;
			}
		}
		a:hover{
			color: $c1;
		}
	}	
}
.font-f3{
	font-family: $f3;
}
.payment-box{
	background: #fff;
	padding: 20px;
	font-size: 16px;
	margin-bottom: 30px;
	.i-title{
		text-transform: uppercase;
		font-size: 16px;
		margin-bottom: 10px;
	}
	.i-des{
		color: #6d6e71;
		margin-bottom: 20px;
	}
	.orange{
		color: $c1;
	}
}
.pay-fr-line{
	font-family: $f3;
	margin-bottom: 16px;
	.input{
		width: 100%;
		height: 40px;
		border: solid 1px #cccccc;
		font-family: inherit;
		color: #949699;
		@include place(#949699);
	}
	.i-select{
		&:after{
			border-top-color: #949699
		}
	}
	.textarea{
		display: block;
		resize: none;
		width: 100%;
		height: 90px;
		border: solid 1px #cccccc;
		font-family: inherit;
		color: #949699;
		@include place(#949699);
	}
}
.payment-collapse{
	font-family: $f3;
	font-size: 16px;
	// margin-bottom: -20px;
	.item{
		margin-left: -20px;
		margin-right: -20px;
		border-bottom: solid 1px #cccccc;
		&:last-child{
			border-bottom: none;
		}
		.head{
			position: relative;
			padding: 12px 20px 12px 50px;
			cursor: pointer;
			&:before{
				content: '';
				width: 18px;
				height: 18px;
				border-radius: 50%;
				border: solid 2px #97989b;
				position: absolute;
				left: 20px;
				top: 50%;
				margin-top: -10px;
				background-clip: content-box;
    			padding: 2px;
			}
			i{
				position: absolute;
				color: $c1;
				font-size: 20px;
				right: 20px;
				top: 50%;
				line-height: 24px;
				margin-top: -12px;
				width: 26px;
				text-align: center;
			}
			&.active{
				font-weight: bold;
				&:before{
					border-color: $c1;
					background-color: $c1;
				}
			}
		}
		.ct{
			padding: 10px 20px;
			background: #f1f0f0;
			display: none;
		}
	}
}
.vat-btn{
	padding-left: 35px;
	position: relative;
	cursor: pointer;
	&:before{
		font-family: 'ElegantIcons';
		content: "\4e";
		color: transparent;
		position: absolute;
		left: 0;
		margin-top: 2px;
		width: 22px;
		height: 22px;
		@include middle;
		border: solid 2px #d0d0d0;
		margin-right: 10px;
		font-style: normal;
		text-align: center;
		font-size: 16px;
		line-height: 18px;
	}
	&.active{
		&:before{
			border-color: $c1;
			background: $c1;
			color: #fff;
		}
	}
	.title{
		text-transform: uppercase;
		font-size: 16px;
		margin-bottom: 10px;
	}
	p{
		font-family: $f3;
		color: #949699;
		margin-bottom: 10px;
	}
}
.vat-pane{
	display: none;
}
.change-cart-info{
	text-align: center;
	color: $c1;
	font-size: 16px;
	margin-bottom: 20px;
	a:hover{
		text-decoration: underline;
	}
}


@media (min-width: 767px){
	#cart-md .modal-dialog {
	    max-width: 740px;
	}
}
@media (min-width: 1200px){
	#cart-md .modal-dialog {
	    max-width: 990px;
	}
}

.md-cart-ct{
	position: relative;
	background: #fff;
	border: solid 2px #ccc;
	box-shadow: 5px 0 12px 0 rgba(#000, 0.3);
	border-radius: 0;
	.i-close{
		position: absolute;
		width: 34px;
		height: 34px;
		border-radius: 50%;
		top: -17px;
		right: -17px;
		background: #9d9d9d;
		color: #fff;
		font-size: 32px;
		line-height: 32px;
		box-shadow: 0 0 6px 0 rgba(#000, 0.3);
		&:hover{
			background: $c1;
		}
	}
	.head{
		padding: 10px 20px;
		.title{
			text-transform: uppercase;
			color: #292929;
			font-size: 18px;
			display: inline;
		}
		span{
			color: #777;
			font-family: $f3;
		}
	}
	.md-cart-tb{
		overflow-x: auto;
		table{
			font-family: $f3;
			width: 100%;
			font-size: 16px;
			color: #292929;
			min-width: 800px;
			th{
				background: #e7e7e8;
				font-size: 15px;
				font-weight: bold;
				color: #292929;
				padding: 12px 20px;
			}
			td{
				padding: 12px 20px;
				border-bottom: solid 1px #e7e7e8;
				del{
					font-size: 13px;
					color: #9d9d9d;
				}
				.i-number{
					padding: 0 24px;
					input{
						height: 24px;
						border: none;
						width: 50px;
						padding: 0;
					}
					.n-ctrl, span.n-ctrl{
						width: 24px;
						font-size: 18px;
						line-height: 24px;
					}
				}
			}
			.img{
				width: 90px;
				height: 90px;
				display: block;
				float: left;
				position: relative;
				border: solid 1px #ccc;
				img{
					@extend %img-center;
					max-width: 80%;
					max-height: 80%;
				}
			}
			.ct{
				margin-left: 100px;
				.title{
					@include middle;			
					margin-bottom: 10px;
					&:hover{
						color: $c1;
					}
				}
				.remove{
					font-size: 13px;
					color: $c1;
					i{
						font-size: 16px;
						color: #777777;
						margin-right: 5px;
					}
					&:hover{
						color: #777;
					}
				}
			}
		}
	}
	.md-cart-foot{
		background: #fafafa;
		padding: 20px;
		.total{
			text-align: right;
			font-family: $f3;
			margin-bottom: 10px;
			p{
				font-size: 16px;
				color: #292929;
				margin-bottom: 3px;
				strong{
					font-size: 18px;
					color: $c1;
				}
			}
			span{
				color: #949699;
				font-size: 14px;
			}
		}
		.ctrl-continue{
			@include middle;
			height: 35px;
			line-height: 33px;
			border: solid 1px #7a7a7a;
			text-transform: uppercase;
			color: #636466;
			font-size: 16px;
			text-align: center;
			width: 215px;
			max-width: 100%;
			i{
				margin-right: 5px;
			}
			&:hover{
				color: #fff;
				background: $c1;
				border-color: $c1;
			}
		}
		.ctrl-payment{
			@include middle;
			text-align: center;
			background: $c1;
			color: #fff;
			font-size: 16px;
			text-transform: uppercase;
			line-height: 35px;
			width: 215px;
			max-width: 100%;
			&:hover{
				background: darken($c1, 8%);
			}
		}
	}
}

@media all and (max-width: 1549px){
	.cart-tb{
		table{
			td{
				.ct-img{
					.title{
						font-size: 16px;
					}
					.remove{
						font-size:18px;
					}
				}
				&.price{
					font-size: 18px;
				}
			}
		}
	}
	.cart-info{
		.table{
			font-size: 14px;
		}
		.coupon-label{
			font-size: 14px;
		}
	}
	.payment-box{
		font-size: 14px;
	}
	.payment-collapse{
		font-size: 14px;
	}
}

@media all and (max-width: 991px){
	.i-number{
		input{
			width: 40px;
			padding: 0;

		}
		.n-ctrl, span.n-ctrl{

		}
	}
}
@media all and (max-width: 991px){
	.bk-process .item{
		font-size: 14px;
		font-family: $f3;
		font-weight: bold;
	}
	.cart-header{
		.h-account{
			margin-right: 5px;
			em{display: none;}
		}
	}
	.md-cart-ct{
		.head{
			padding: 10px;
		}
		.md-cart-tb table{
			font-size: 14px;
			td{
				padding: 10px;
			}
			th{
				white-space: nowrap;
				padding: 10px;
			}
		}
		.md-cart-foot{
			padding: 10px;
			.ctrl-continue {
				font-size: 14px;
				font-weight: bold;
				font-family: $f3;
			}
			.ctrl-payment{
				font-size: 14px;
				font-weight: bold;
				font-family: $f3;
			}
		}
	}
}

@media all and (max-width: 767px){
	.cart-header{
		.hc-hotline{
			padding-left: 39px;
			i{
				width: 38px;
				height: 38px;
				margin-top: -20px;
			}
			strong{
				font-size: 18px;
				font-family: $f3;
				line-height: 36px;
				&:before, &:after{
					left: -10px;
					border-width: 10px;
				}
			}
		}
	}
	.md-cart-ct .i-close{
		top: -10px;
    	right: -10px;
	}
}

@media all and (max-width: 575px){
	.md-cart-ct .md-cart-foot{
		.table{
			display: block;
			.cell{
				display: block;
				margin-bottom: 10px;
				.ctrl-continue, .ctrl-payment{
					width: 100%;
				}
			}
		}
	}
}