footer{
	position: relative;
	z-index: 0;
	// &:after{
	// 	content: '';
	// 	@include absolute(0);
	// 	pointer-events: none;
	// 	background-image: url('../images/bg-pat.png');
	// 	background-size: cover;
	// 	background-repeat: no-repeat;
	// 	background-position: center;
	// }
	.subscriber{
		padding: 35px 0 50px 0;
		/* background-image: url('../images/bg-f1.png'); */
		background-position: bottom center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	.subs-title{
		font-size: 23px;
		color: #6d6d70;
		font-weight: bold;
		margin-bottom: 25px;
	}
	.subs-form{
		position: relative;
		input{
			width: 100%;
			height: 55px;
			border: solid 2px $c1;
			padding-left: 17px;
			font-size: 15px;
			color: #6d6d70;
			@include place(#6d6d70);
			padding-right: 125px;
		}
		button{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 0 15px;
			font-size: 17px;
			text-transform: uppercase;
			background: $c1;
			color: #fff;
			i{
				margin-top: -2px;
				margin-left: 5px;
			}
		}
	}
	.social{
		color: #979799;
		margin-top: 20px;
		span{
			@include middle;
			font-size: 18px;
			margin-right: 30px;
			margin-top: -4px;
		}
		a{
			@include middle;
			font-size: 18px;
			position: relative;
			margin-right: 30px;
			&:after{
				content: '';
				width: 1px;
				height: 12px;
				background: #ccc;
				position: absolute;
				top: 50%;
				margin-top: -8px;
				right: -15px;
			}
			&:last-child{
				margin-right: 0;
				&:after{
					content: none;
				}
			}
			&:hover{
				color: $c1;
			}
		}
	}
}
.footer{
	/* background-image: url('../images/bg-f2.jpg'); */
	background-position: top center;
	background-size: 100% auto;
	background-repeat: no-repeat;
	padding-top: 25px;
	background-color: #6d6d70;
	position: relative;
	z-index: 0;
	&:after{
		content: '';
		@include absolute(0);
		background-image: url('../images/bg-fdot.png');
		z-index: -1;
		pointer-events: none;
	}
	.f-title{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		margin-top: 20px;
		margin-bottom: 12px;
		i{
			margin-right: 8px;
			margin-top: -3px;
		}
	}
	ul{
		li{
			font-family: $f3;
			color: rgba(#fff, 0.7);
			margin-bottom: 8px;
			a:hover{
				color: $c1;
			}
		}
	}
}
.h-brand{
	position: relative;
	padding-left: 250px;
	margin-top: 45px;
	span{
		position: absolute;
		left: 0;
		font-size: 18px;
		font-weight: bold;
		color: #fff;
		text-transform: uppercase;
		line-height: 30px;
		top: 50%;
		margin-top: -15px;
	}
}
.brand{
	display: block;
	height: 55px;
	position: relative;
	img{
		@extend %img-center;
		left: auto;
	}
}
.copyright{
	margin-top: 20px;
	padding: 15px 0;
	border-top: solid 1px rgba(#fff, 0.3);
	color: rgba(#fff, 0.8);
	font-family: $f3;
	p{
		padding: 10px 0;
	}
}

.footer-cart{
	font-family: $f3;
	padding: 25px 0;
	color: #292929;
	.fc-title{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		font-family: $f1;
		color: #949699;
		margin-bottom: 10px;
	}
	a:hover{
		color: $c1;
	}
}

@media all and (max-width: 1549px){
	.footer .f-title{
		font-size: 16px;
	}
}

@media all and (max-width: 991px){
	.footer-cart{
		font-size: 13px;
		.fc-title{
			margin-top: 10px;
		}
	}
}

@media all and (max-width: 767px){
	.h-brand{
		padding-left: 0px;
		span{
			position: static;
			display: block;
			margin-bottom: 10px;
			margin-top: 0;
		}
	}
	.brand{
		img{
			left: 0;
		}
	}
	footer{
		.subscriber{
			padding: 35px 0 40px 0;
		}
		.subs-title{
			font-size: 20px;
			font-weight: normal;
		}
		.social{
			span{
				display: block;
				margin-bottom: 5px;
			}
		}
	}
}