// .ic-marker{
// 	width: 12px;
// 	height: 17px;
// 	background-image: url('../images/ic-marker.png');
// }
// .ic-phone{
// 	width: 15px;
// 	height: 15px;
// 	background-image: url('../images/ic-phone.png');
// }
// .ic-phone2{
// 	width: 20px;
// 	height: 20px;
// 	background-image: url('../images/ic-phone2.png');
// }
// .ic-search{
// 	width: 31px;
// 	height: 31px;
// 	background-image: url('../images/ic-search.png');
// }
// .ic-user{
// 	width: 20px;
// 	height: 21px;
// 	background-image: url('../images/ic-user.png');
// }
.ic-user2{
	width: 22px;
	height: 23px;
	background-image: url('../images/ic-user2.png');
}
.ic-cog{
	width: 31px;
	height: 41px;
	background-image: url('../images/ic-cog.png');
}
.ic-house{
	width: 39px;
	height: 40px;
	background-image: url('../images/ic-house.png');
}
.ic-heart{
	width: 22px;
	height: 20px;
	background-image: url('../images/ic-heart.png');
	&.active, &.liked, &:hover{
		background-image: url('../images/ic-heart2.png');
	}
}
// .ic-arrow2{
// 	width: 16px;
// 	height: 26px;
// 	background-image: url('../images/ic-arrow2.png');
// }
// .ic-mobile{
// 	width: 10px;
// 	height: 17px;
// 	background-image: url('../images/ic-mobile.png');
// }
// .ic-cart{
// 	width: 40px;
// 	height: 28px;
// 	background-image: url('../images/ic-cart.png');
// }
// .ic-truck{
// 	width: 45px;
// 	height: 32px;
// 	background-image: url('../images/ic-truck.png');
// }
// .ic-truck2{
// 	width: 30px;
// 	height: 21px;
// 	background-image: url('../images/ic-truck2.png');
// }
// .ic-house2{
// 	width: 26px;
// 	height: 19px;
// 	background-image: url('../images/ic-house2.png');
// }
// .ic-arm{
// 	width: 21px;
// 	height: 24px;
// 	background-image: url('../images/ic-arm.png');
// }
// .ic-one{
// 	width: 22px;
// 	height: 19px;
// 	background-image: url('../images/ic-one.png');
// }
// .ic-phone-o{
// 	width: 19px;
// 	height: 19px;
// 	background-image: url('../images/ic-phone-o.png');
// }
// .ic-mail-o{
// 	width: 19px;
// 	height: 13px;
// 	background-image: url('../images/ic-mail-o.png');
// }
// .ic-video-tv{
// 	width: 30px;
// 	height: 24px;
// 	background-image: url('../images/ic-video-tv.png');
// }
.ic-may-han{
	width: 22px;
	height: 26px;
	background-image: url('../images/ic-may-han.png');
}
.ic-khi-nen{
	width: 21px;
	height: 26px;
	background-image: url('../images/ic-khi-nen.png');
}
.ic-muc-laser{
	width: 20px;
	height: 26px;
	background-image: url('../images/ic-muc-laser.png');
}
.ic-cam-tay{
	width: 32px;
	height: 26px;
	background-image: url('../images/ic-cam-tay.png');
}
.ic-phat-dien{
	width: 29px;
	height: 26px;
	background-image: url('../images/ic-phat-dien.png');
}

.ic-truck, .ic-cart, .sec1, .sec3, .sec5, 
.sec2, .ic-search, .ic-truck2, .ic-video-tv, .sec4, 
.ic-house2, .ic-search-s, .ic-zalo, .ic-one, .ic-arm, 
.ic-arrow, .ic-phone2, .ic-user, .ic-mail-o, .ic-phone-o, 
.ic-arrow2, .ic-phone, .ic-play, .ic-marker, .ic-minus, 
.ic-plus, .ic-mobile
{ display: inline-block; background: url('../images/sprites.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.ic-truck { background-position: -0px -0px; width: 45px; height: 32px; }
.ic-cart { background-position: -0px -32px; width: 40px; height: 28px; }
.sec1 { background-position: -0px -60px; width: 40px; height: 41px; }
.sec3 { background-position: -0px -101px; width: 40px; height: 40px; }
.sec5 { background-position: -0px -141px; width: 40px; height: 39px; }
.sec2 { background-position: -0px -180px; width: 36px; height: 34px; }
.ic-search { background-position: -0px -214px; width: 31px; height: 31px; }
.ic-truck2 { background-position: -0px -245px; width: 30px; height: 21px; }
.ic-video-tv { background-position: -0px -266px; width: 30px; height: 24px; }
.sec4 { background-position: -0px -290px; width: 29px; height: 40px; }
.ic-house2 { background-position: -0px -330px; width: 26px; height: 19px; }
.ic-search-s { background-position: -0px -349px; width: 24px; height: 24px; }
.ic-zalo { background-position: -0px -373px; width: 24px; height: 24px; }
.ic-one { background-position: -0px -397px; width: 22px; height: 19px; }
.ic-arm { background-position: -24px -349px; width: 21px; height: 24px; }
.ic-arrow { background-position: -24px -373px; width: 21px; height: 32px; }
.ic-phone2 { background-position: -22px -405px; width: 20px; height: 20px; }
.ic-user { background-position: -0px -416px; width: 20px; height: 21px; }
.ic-mail-o { background-position: -26px -330px; width: 19px; height: 13px; }
.ic-phone-o { background-position: -20px -425px; width: 19px; height: 19px; }
.ic-arrow2 { background-position: -29px -290px; width: 16px; height: 26px; }
.ic-phone { background-position: -30px -245px; width: 15px; height: 15px; }
.ic-play { background-position: -30px -260px; width: 15px; height: 27px; }
.ic-marker { background-position: -31px -214px; width: 12px; height: 17px; }
.ic-minus { background-position: -31px -231px; width: 12px; height: 2px; }
.ic-plus { background-position: -29px -316px; width: 12px; height: 12px; }
.ic-mobile { background-position: -0px -437px; width: 10px; height: 17px; }

.ic-num1{
	width: 27px;
	height: 56px;
	background-image: url('../images/up-ic-num1.png');
}
.ic-num2{
	width: 33px;
	height: 56px;
	background-image: url('../images/up-ic-num2.png');
}
.ic-num3{
	width: 33px;
	height: 56px;
	background-image: url('../images/up-ic-num3.png');
}
.ic-num4{
	width: 44px;
	height: 56px;
	background-image: url('../images/up-ic-num4.png');
}
.ic-cokhi{
	width: 20px;
	height: 25px;
	background-image: url('../images/up-ic-cokhi.png');
}
.ic-giadinh{
	width: 25px;
	height: 25px;
	background-image: url('../images/up-ic-giadinh.png');
}
@media all and (max-width: 1549px){
	.product .ic-heart{
		width: 18px;
		height: 16px;
	}
}

.social-right{
	position: fixed;
	z-index: 9;
	right: 0;
	top: 50%;
	background: $c1;
	border-radius: 5px 0 0 5px;
	margin-top: -90px;
	overflow: hidden;
	display: none;
	a{
		display: block;
		font-size: 38px;
		height: 59px;
		line-height: 58px;
		width: 60px;
		text-align: center;
		color: #fff;
		position: relative;
		&:after{
			content: '';
			position: absolute;
			bottom: -1px;
			left: 8px;
			right: 8px;
			height: 1px;
			background: rgba(#fff, 0.3);
		}
		i{
			vertical-align: middle;
			margin-top: -9px;
		}
		&:last-child:after{
			content: none;
		}
		.fa-facebook{
			font-size: 34px;
		}
		.fa-google-plus{
			font-size: 28px;
		}
		&.f:hover{background: #3b5998;}
		&.y:hover{background: #de0000;}
		&.g:hover{background: #d62d20;}
	}
}
.psy-pane{
	position: fixed;
	z-index: 9;
	left: 0;
	top: 50%;
	background: #eaebeb;
	border-radius: 0 5px 5px 0;
	margin-top: -137px;
	display: none;
	a{
		display: block;
		height: 55px;
		width: 55px;
		position: relative;
		text-align: center;
		line-height: 55px;
		img{
			@extend %img-center;
		}
		img, i{
			-webkit-filter: grayscale(100%);
    		filter: grayscale(100%);
    		opacity: 0.7;
		}
		&:after{
			content: '';
			position: absolute;
			bottom: -1px;
			left: 8px;
			right: 8px;
			height: 1px;
			background: rgba(#fff, 0.8);
		}
		&:last-child:after{
			content: none;
		}
		span{
			white-space: nowrap;
			position: absolute;
			left: 100%;
			top: 0;
			bottom: 0;
			background: #eaebeb;
			line-height: 55px;
			margin-left: -30px;
			padding: 0 25px 0 35px;
			color: $c1;
			font-size: 18px;
			z-index: -1;
			border-radius: 0 5px 5px 0;
			opacity: 0;
			visibility: hidden;
		}
		&:hover, &.active{
			img, i{
				-webkit-filter: none;
	    		filter: none;
	    		opacity: 1;
			}
		}
		&:hover{
			span{
				opacity: 1;
				margin-left: -10px;
				visibility: visible;
			}
		}
	}
}
.i-check{
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	input{
		display: none;
		&:checked + i:after{
			opacity: 1;
		}
	}
	i{
		width: 16px;
		height: 16px;
		border: solid 1px #949699;
		background: #fff;
		text-align: center;
		line-height: 13px;
		font-style: normal;
		display: inline-block;
		vertical-align: middle;
		margin-top: -2px;
		margin-right: 5px;
		&:after{
			content: '';
			display: block;
			width: 8px;
			height: 8px;
			margin: 3px;
			opacity: 0;
			background: $c1;
		}
	}
}

.i-select{
	position: relative;
	select{
		width: 100%;
		-webkit-appearance: none;
		-moz-appearance: none;
		text-indent: 1px;
		text-overflow: '';
	}
	&:after{
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -3px;
		right: 7px;
		bottom: 0;
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 5px solid #333;
		pointer-events: none;
	}
}


@media all and (min-width: 1550px){
	.container{
		max-width: 1526px;
	}
}

@media all and (max-width: 767px){
	.social-right{
		margin-top: -60px;
		a{
			font-size: 24px;
			height: 40px;
			line-height: 39px;
			width: 40px;
			i{
				margin-top: -7px;
			}
			.fa-facebook{
				font-size: 21px;
			}
			.fa-google-plus{
				font-size: 16px;
			}
		}
	}
	.psy-pane{
		margin-top: -100px;
		a{
			width: 40px;
			height: 40px;
			line-height: 40px;
			img{
				max-width: 80%;
				max-height: 80%;
			}
			i{
				transform: scale(0.6);
			}
			span{
				line-height: 40px;
				font-size: 16px;
				padding: 0 20px 0 20px;
			}
		}
	}
}