$color-dc:#f16421;
header{
	background-color: #00a72a;

	padding-top: 10px;
	.top{
		padding: 5px 0;
	}
}


.order-bao-hanh{
	background: #fff;
	z-index: 4;
	position: absolute;
	box-shadow: 0 2px 6px 0 rgba(#000, 0.15);
	width: 265px;
	padding: 20px;
	font-family: $f3;
	border: solid 1px #dedede;
	display: none;
	margin-top: 15px;
	&:before, &:after{
		content: '';
		width: 0;
		height: 0;
		bottom: 100%;
		position: absolute;
		left: 50%;
		margin-left: -8px;
	}
	&:before{
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #dedede;
	}
	&:after{
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #fff;
		margin-bottom: -1px;
	}
	.title{
		font-size: 18px;
		font-weight: bold;
		color: #292929;
		font-family: $f1;
		margin-bottom: 10px;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 17px;
			bottom: 100%;
			margin-bottom: -1px;
		}
	}
	p{
		margin-bottom: 3px;
		color: #6d6e71;
		a{
			color: $c1;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.line{
		position: relative;
		margin-bottom: 12px;
		input{
			width: 100%;
			height: 40px;
			border: solid 1px #dedede;
			background: #f0f0f0;
			
		}
		button{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 30px;
			background: $c1;
			color: #fff;
			font-size: 21px;
			line-height: 1;
		}
	}
}
.main-nav{
	&>ul{
		font-size: 0;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		&>li{
			
			font-size: 14px;
			// margin: 0 15px;
			position: relative;
			a{
				display: block;
				color: #fff;
				padding: 2px 10px 3px 10px;
				border-radius: 3px;
				i{margin-right: 8px;}
				&.blog{
					background-image: url('../images/ic-blog.png');
					height: 48px;
					width: 96px;
					padding: 9px 10px 0 0;
					text-align: right;
					color: #636466;
					font-size: 18px;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					&:hover{
						background-color: transparent;
						color: $c1;
					}
				}
			}
			&:hover{
				&>a{
					background-color: $color-dc;
					color: #fff;
					&.blog{
						background-color: transparent;
						color: $c1;
					}
				}
			}
			
			&:nth-last-child(1),&:nth-last-child(2){
				&:after{
					content: none;
				}
			}
			&:nth-last-child(1){
				margin-left: 0;
			}
		}
	}
}
.hc-hotline{
	@include middle;
	font-size: 0;
	position: relative;
	padding-left: 50px;
	.ic-hotline{
		width: 50px;
		height: 49px;
		background-image: url('../images/bg-hotline2.png');
		position: absolute;
		top: 50%;
		left: 3px;
		margin-top: -25px;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	strong{
		display: block;
		height: 35px;
		background: $color-dc;
		font-size: 28px;
		color: #fff;
		line-height: 30px;
		padding: 0 10px 0 10px;
		border-radius: 0 5px 5px 0;
		position: relative;
		&:before, &:after{
			content: '';
			position: absolute;
			left: -7px;
			width: 0;
			height: 0;
		}
		&:before{
			border-top: 7px solid $color-dc;
			border-left: 7px solid transparent;
			top: 0;
		}
		&:after{
			border-bottom: 7px solid $color-dc;
			border-left: 7px solid transparent;
			bottom: 0;
		}
	}
}
.h-hotline{
	@include middle;
	color: #fff;
	span{
		color: $c1;
		font-size: 12px;
		font-family: $f2;
	}
	strong{
		display: block;
		font-size: 23px;
		line-height: 1;
	}
	&:hover{
		color: $c1;
	}
}
.h-hotline2{
	@include middle;
	background-image: url('../images/hotline-bor.png');
	background-size: 100% 100%;
	position: relative;
	margin-right: 30px;
	span{
		color: #fff;
		font-size: 16px;
		font-family: $f2;
		position: absolute;
		top: -10px;
		right: 10px;
	}
	strong{
		font-size: 30px;
		font-weight: bold;
		color: #f79230;
		display: block;
		line-height: 1;
		padding: 9px 10px 11px 10px;
	}
}
.nav-open, .m-nav{
	display: none;
}
// .main-bar{
// 	margin-top: 5px;
// }
.h-category{
	position: relative;
	.title{
		text-transform: uppercase;
		color: #fff;
		font-size: 24px;
		padding: 17px 0 17px 20px;
		&:after{
			@include font("\f107");
			margin-left: 8px;
			font-size: 18px;
			margin-top: -2px;
			@include middle;
		}
		i{
			display: none;
		}
	}
	.ct{
		background: #fdfdfd;

		position: absolute;
		left: 0;
		right: 0;
		z-index: 2;
		.scroll-bar{
			height: 100%;
			overflow: hidden;
			box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
			a:hover{
				color: $c1;
			}
			&>ul, .mCSB_container>ul{
				margin: 15px 0;
				&>li{
					border-bottom: solid 1px #b1b1b2;
				
					&:last-child{
						border-bottom: none;
					}
					&>a{
						display: block;
						font-weight: bold;
						color: #636466;
						font-size: 20px;
						padding: 10px 0 10px 20px; 
						i{
							float: right;
						    color: #f26522;
						    display: flex;
						    margin-top: 5px;
						    margin-right: 5px;
						}
					}
				}
				ul a{
					display: block;
					color: #636466;
					font-size: 16px;
					font-family: $f3;
					padding: 3px 0 3px 20px;
					&[data-sub] i{display: none;}
					&:hover{
						background: $c1;
						color: #fff;
					}
					&[data-sub]:after{
						content: '';
						width: 0;
						height: 0;
						border-top: 5px solid transparent;
						border-left: 4px solid #fff;
						border-bottom: 5px solid transparent;
						font-size: 0;
						float: right;
						margin-right: 5px;
						margin-top: 5px;
					}
				}
			}
		}
	}
	.mCustomScrollbar{
		padding-right: 0;
	}
	.mCSB_inside > .mCSB_container{
		margin-right: 20px;
	}
	.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
		background: rgba($c1, 0.7);
	}		
	.cate-sub-pane{
		height: auto;
		background-position: right top;
		background-repeat: no-repeat;
		background-color: #fff;
		box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
		padding: 10px 15px;
		font-family: $f3;
		display: none;
		position: absolute;
		left: 100%;
		width: 200%;
		width: calc(300% + 142px);
		top: 0;
		.back{
			display: none;
		}
		.s-title{
			font-family: $f1;
			color: $c1;
			font-size: 17px;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 10px;
		}
		ul{margin-bottom: 15px;}
		li{
			margin-bottom: 6px;
			font-size: 14px;
			color: #040404;
			a:hover{
				color: $c1;
			}
		}
	}
	
}
header.sub, .blog-header{
	.h-category{
		.title{
			padding-left: 0;
		}
		.ct{
			display: none;
		}
		&:hover .ct{
			display: block;
		}
	}
}
.search-form{
	position: relative;
	input{
		width: 100%;
		height: 50px;
		border: solid 2px $color-dc;
		padding-left: 25px;
		font-size: 16px;
		font-family: $f3;
		@include place(#292929);
		color: #292929;
	}
	button{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 130px;
		background: $color-dc;
		color: #fff;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		i{margin-right: 5px;}
		span{
			@include middle;
		}
	}
}
.h-account{
	@include middle;
	color: #fff;
	text-align: left;
	position: relative;
	padding-left: 35px;
	margin-left: 40px;
	line-height: 1;
	a:hover{
		color: $color-dc;
	}
	i{
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -10px;
	}
	em{
		display: block;
		font-style: normal;
		font-size: 13px;
		font-family: $f3;
	}
	span{
		font-size: 17px;
		line-height: 1;
	}
	&:before{
		content: '';
		width: 1px;
		height: 22px;
		background: #fff;
		position: absolute;
		top: 50%;
		margin-top: -11px;
		left: -21px;
	}
}
.h-cart{
	position: relative;
	@include middle;
	span{
		width: 19px;
		height: 19px;
		border-radius: 50%;
		background: $color-dc;
		color: #fff;
		font-size: 12px;
		font-family: $f3;
		text-align: center;
		line-height: 20px;
		position: absolute;
		top: -10px;
		right: 5px;
	}
}
.slider-cas{
	margin-left: -40px;
	margin-right: -22px;
	.slick-list{
		margin: 0;
		.slick-slide{
			margin: 0;
		}
	}
	.item{
		position: relative;
	}
	.img img{
		display: block;
		width: 100%;
	}
	.slick-arrow{
		width: 45px;
		height: 45px;
		border: solid 2px rgba(#fff, 0.3);
		text-align: center;
		line-height: 41px;
		top: 50%;
		margin-top: -22px;
		color: #fff;
		&:hover{
			border-color: #fff;
		}
		&.prev{
			left: 20px;
		}
		&.next{
			right: 20px;
		}
	}
	.slick-dots{
		position: absolute;
		left: 10px;
		right: 10px;
		bottom: 25px;
		li{
			border: none;
			background: rgba(#fff, 0.1);
			width: 10px;
			height: 10px;
			&.slick-active, &:hover{
				background: #fff;
			}
		}
	}
}
.slide-bn{
	margin-left: 22px;
	padding-left: 1px;
	margin-bottom: 1px;
	background-color: #fff;
	padding-bottom: 2px;
	img{
		display: block;
		width: 100%;
	}
	>.list{
		margin: 10px 10px;
		display: flex !important;
		flex-wrap: unset;
		>.col-md-8{
			>h3{
				height: 40px;
				overflow: hidden;
			}
		}
	}
	.banner_right_top{
		background-color: #fff;
		.title{
			display: flex;
			height: 35px;
			overflow: hidden;
			border-bottom: 1px solid #e1e1e1;
			margin: 0px 0 10px 0;
			#title{
				background-color:#f26522;
				flex: 1;
				text-align: center;
				text-transform: uppercase;
				position: relative;
				line-height: 35px;
				color:#fff;
				font-weight: unset;
				&::after {
				    content: "";
				    width: 0;
				    height: 1px;
				    border-left: 0px solid transparent;
				    border-bottom: 17px solid #f26522;
					border-top: 17px solid #f26522;
					border-right: 15px solid transparent;
				    position: absolute;
				    right: -15px;
				    top: 0;
				}
			}
			 .redline {
			    flex: 2;
			    display: flex;
			    justify-content: center;
			    align-items: center;
			    .dot {
				    width: 10px;
				    height: 10px;
				    border-radius: 50%;
				    background-color: #fe3130;
				    position: relative;
				    margin-left: -25px;
				    cursor: pointer;
				    margin-right: 10px;
				    .wave {
					    position: absolute;
					    top: 0;
					    left: 0;
					    width: 100%;
					    height: 100%;
					    background-color: #fe3130;
					    border-radius: 50%;
					    animation: wave 2s linear infinite;
					}
					@keyframes wave {
                        from {
                          opacity: 0.4;
                        }
                        to {
                          transform: scale(3);
                          opacity: 0;
                        }
                    }
				}
			}
		}
	}
}


header{
	&.fixed{
		position: fixed;
		z-index: 9;
		top: 0;
		left: 0;
		right: 0;
		box-shadow: 0 0 6px 0 rgba(#000, 0.2);
		padding: 0;
		display: none;
		padding: 5px 0;
		.main-nav{
			display: none;
		}
		.h-cart{
			margin-top: 2px;
		}
		.h-category{
			margin-right: 0;
			.ct{
				display: none;
			}
			&:hover .ct{
				display: block;
				box-shadow: 0 0 6px 0 rgba(#000, 0.2);
			}
		}
		.search-form{
			width: 475px;
		}
	}
}

.btn-gray{
	@include middle;
	color: #292929;
	padding: 5px 11px;
	border: solid 1px #6d6e71;
	font-family: $f3;
	&:hover{
		background: $c1;
		border-color: $c1;
		color: #fff;
	}
}


@media all and (min-width: 1200px){
	.head-left{
		margin-right: 40px;
	}
	.head-center{
		margin-left: -40px;
		margin-right: -74px;
		position: relative;
		z-index: 1;
	}
	.head-right{
		margin-left: 54px;
	}
}

@media all and (max-width: 1549px){
	.main-nav{
		&> ul > li{
			font-size: 13px;
			&:after{
				right: -6px;
			}
			a{
				padding: 2px 5px 3px 5px;
				i{margin-right: 3px;}
				&.blog{
					width: 80px;
					height: 40px;
					padding-right: 8px;
					padding-top: 6px;
				}
			}
		}
	}
	.h-cart{
		margin-left: -50px;
	}
	.h-account{
		padding-left: 30px;
		margin-left: 30px;
		em{
			font-size: 12px;
		}
		span{
			font-size: 14px;
		}
		&:before{
			left: -15px;
		}
	}
	.search-form{
		position: relative;
		margin-right: 50px;
		input{
			height: 42px;
			padding-left: 20px;
			font-size: 14px;
		}
		button{
			width: 110px;
			i{
				width: 24px;
				height: 24px;
				background-position: -0px -349px;
			}
			span{
				vertical-align: baseline;
			}
		}
	}
	.h-hotline2{
		span{
			color: #fff;
			font-size: 14px;
		}
		strong{
			font-size: 21px;
			padding: 9px 10px 11px 10px;
		}
	}

	.h-category{
		.title{
			font-size: 18px;
		}
		.ct .scroll-bar{
			&>ul, .mCSB_container>ul{
				margin: 10px 0;
				&>li{
					&>a{
						display: block;
						font-weight: bold;
						color: #636466;
						font-size: 16px;
						padding-top: 5px;
						padding-bottom: 7px;
						i{
							float: right;
						    color: $c1;
						    display: flex;
						    margin-top: 5px;
						    margin-right: 5px;
						}
					}
				}
				ul a{
					display: block;
					color: #636466;
					font-size: 14px;
					font-family: $f3;
					padding-top: 1px;
					padding-bottom: 1px;
				}
			}
		}
	}
	.slider-cas{
		margin-right: -13px;
	}
	.slide-bn{
		margin-left: 13px;
	}
	header{
		&.fixed{
			.logo{
				img{
					max-width: 130px;
				}
			}
			.search-form{
				width: 300px;
			}
		}
	}
}

.order-check{
	background: #fff;
	z-index: 4;
	position: absolute;
	box-shadow: 0 2px 6px 0 rgba(#000, 0.15);
	width: 265px;
	padding: 20px;
	font-family: $f3;
	border: solid 1px #dedede;
	display: none;
	margin-top: 15px;
	&:before, &:after{
		content: '';
		width: 0;
		height: 0;
		bottom: 100%;
		position: absolute;
		left: 50%;
		margin-left: -8px;
	}
	&:before{
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #dedede;
	}
	&:after{
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-bottom: 8px solid #fff;
		margin-bottom: -1px;
	}
	.title{
		font-size: 18px;
		font-weight: bold;
		color: #292929;
		font-family: $f1;
		margin-bottom: 10px;
		&:before{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			height: 17px;
			bottom: 100%;
			margin-bottom: -1px;
		}
	}
	p{
		margin-bottom: 3px;
		color: #6d6e71;
		a{
			color: $c1;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.line{
		position: relative;
		margin-bottom: 12px;
		input{
			width: 100%;
			height: 40px;
			border: solid 1px #dedede;
			background: #f0f0f0;
			font-family: $f3;
			color: #6d6e71;
			@include place(#6d6e71);
			&:not(:only-child){
				padding-right: 30px;
			}
		}
		button{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			width: 30px;
			background: $c1;
			color: #fff;
			font-size: 21px;
			line-height: 1;
		}
	}
}






@media all and (max-width: 1199px){
	.main-nav > ul > li {
		margin: 0 6px;
		&:after{
			right: -6px;
		}
	}
	.h-category{
		margin-right: 0;
	}
	.search-form{
		margin-right: 0;
	}
	.slider-cas{
		margin-right: -21px;
		margin-left: 0;
	}
	.slide-bn{
		margin-left: 21px;
	}
	header.fixed{
		.logo{
			img{
				max-width: 130px;
			}
		}
		.search-form{
			width: 290px;
		}
		.h-account{
			padding-left: 25px;
			span, em{
				display: none;
			}
		}
		.hc-hotline strong{
			font-size: 22px;
		}
		.h-category .title{
			font-size: 16px;
			padding-left: 10px;
		}
	}
}

@media all and (max-width: 991px){
	.menu-btn{
		@include ibl(middle);
		width: 40px;
		height: 40px;
		border-radius: 100%;
		z-index: 1;
		margin-left: 15px;
		margin-right: -12px;
		i{
			display: block;
			margin: auto;
			border-top: solid 2px $color-dc;
			width: 17px;
			border-bottom: double 7px $color-dc;
			height: 12px;
		}
		&.act i{
			width: auto;
			height: auto;
			border: none;
			&:after, &:before{
				content: '';
				display: block;
				margin: auto;
				width: 17px;
				border-bottom: solid 2px $c1;
			}
			&:after{
				@include rotate(-45deg);
				margin-top: -2px;
			}
			&:before{
				@include rotate(45deg);
			}
		}
		&.v2{
			background: $c1;
			i{border-color: #fff;}
			&.act i{
				&:after, &:before{border-color: #fff;}
			}
		}
	}
	.main-nav{display: none;}

	.m-nav{
		display: block;
		@include smooth(0.2s);
		background: #f9f9f9;
		box-shadow: 0 0 8px 0 rgba(#ccc, 0.3);
		position: fixed;
		z-index: 20;
		top: 0;
		bottom: 0;
		width: 290px;
		right: -290px;
		&:after{
			content: '';
			pointer-events: none;
			background: rgba(#fff, 0.04);
			@include fixed(0);
			z-index: -1;
			opacity: 0;
			@include smooth(0.2s);
		}
		&.act{
			right: 0;
			&:after{
				opacity: 1;
			}
		}
		.nav-ct{
			height: 100%;
			overflow-y: auto;
			overflow-x: hidden;
			padding-top: 20px;
			background: #555;
		}
		.h-cart{
			margin-left: 15px;
		}
		.nav-close{
			top: 11px;
			right: 15px;
			background: none;
			position: absolute;
		}
		.main-nav{
			display: block;
			margin: 0;
			padding: 0;
			margin-top: 13px;
			&>ul{
				display: block;
				border-top: solid 1px #666;
				&>li{
					display: block;
					margin: 0;
					&:after{
						content: none;
					}
					&>a{
						display: block;
						font-weight: normal;
						border: none;
						border-bottom: solid 1px #666;
						line-height: 20px;
						padding: 10px 15px;
						border-radius: 0;
						font-size: 15px;
						// font-family: $f3;
						color: #fff;
						margin: 0px;
						&:not(:only-child):after, &:not(:only-child):before{
							content: none;
							display: none;
						}
						&:before, &:after{
							content: none;
							display: none;
						}
						&.blog{
							border-bottom: none;
							margin: 10px 15px;
							color: #555;
						}
					}
					&:hover>a{
						// color: #fff;
						&.blog{
							color: $c1;
						}
					}
				}
			}
			li{
				position: relative;
				ul{
					display: none;
					width: auto;
					position: static;
					background: rgba(#000, 0.03);
					border: none;
					margin: 0px;
					opacity: 1;
					@include transition(none);
					pointer-events: all;
					padding: 0;
					min-width: auto;
					&:after{
						content: none;
						display: none;
					}
					a{
						display: block;
						font-size: 14px;
						line-height: 20px;
						background: none;
						color: $c1;
						border: none;
						border-top: solid 1px #e6e6e6;
						padding: 10px 15px 10px 30px;
						margin: 0px;
						font-weight: normal;
					}
					li:hover > a{
						background: $c1;
						color: #fff;
					}
					ul a{
						padding-left: 45px;
					}
				}
				.nav-drop{
					display: block;
					font-style: normal;
					height: 40px;
					width: 40px;
					text-align: center;
					padding-top: 2px;
					font-size: 16px;
					line-height: 39px;
					background: rgba(#fff, 0.03);
					color: $c1;
					float: right;
					position: relative;
					z-index: 1;
					cursor: pointer;
					&:after{
						@include font("\f0d7");
					}
					&.act:after{
						content: "\f0d8";
					}
				}
				&:hover{
					&>.nav-drop{
						color: #fff;
					}
					&>ul{
						margin-top: 0;
						pointer-events: all;
						opacity: 1;
					}
				}
			}
		}

		.search-fr{
			margin: 15px;
			display: block;
			width: auto;
			max-width: none;
			min-width: auto;
		}
	}
	header{
		padding-top: 5px;
		.top{
			position: relative;
		}
		&.fixed{
			display: none !important;
		}
		&.m-fixed{
			position: fixed;
			z-index: 9;
			top: 0;
			left: 0;
			right: 0;
			box-shadow: 0 0 6px 0 rgba(#000, 0.2);
			padding: 0;
			.main-bar{
				display: none;
			}
		}
	}
	.h-cart{
		margin-left: 0;
	}
	.h-account{
		margin-top: -2px;
	}
	.main-bar{
		padding-bottom: 10px;
		margin-top: 10px;
		.h-category{
			.title{
				padding-left: 0;
				padding-top: 9px;
    			padding-bottom: 5px;
			}
		}
	}

	.h-category{
		.ct .scroll-bar{
			height: auto;
    		overflow: initial;
			&>ul ul a{
				padding-right: 10px;
				&[data-sub]{
					&:after{
						content: none;
						display: none;
					}
					i{
						display: block;
						font-size: 16px;
						width: 30px;
						margin-right: -10px;
						text-align: center;
						float: right;
						padding: 2px 0 3px 0;
					}
				}
			}
		}
		.ct{
			position: fixed;
			top: 0;
			bottom: 0;
			z-index: 11;
			width: 250px;
			overflow: auto;
			@include smooth(0.2s);
			left: -250px;
		}
		// &:after{
		// 	content: '';
		// 	@include fixed(0);
		// 	background: rgba(#000, 0.6);
		// 	z-index: 10;
		// 	pointer-events: none;
		// 	opacity: 0;
		// }
		&.active{
			&>.ct{
				left: 0;
			}
			&:after{
				opacity: 1;
			}
		}
		.cate-sub-pane{
			width: 100%;
			padding: 20px;
			background: #fff;
			transition: all .2s ease-in-out;
			// display: block;
			.back{
				display: block;
				margin-bottom: 15px;
				font-family: $f3;
			}
			&.act{
				left: 0;
			}
		}
	}
	
	.order-bao-hanh{
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 11;
		margin-left: -132px;
		transform: translateY(-50%);
		
	}

	.order-check{
		position: fixed;
		top: 50%;
		left: 50%;
		z-index: 11;
		margin-left: -132px;
    	transform: translateY(-50%);
		&:before, &:after{content: none;}
		.title:before{content: none;}
	}
	.order-check-over{
		z-index: 10;
		@include fixed(0);
		background: rgba(#000, 0.6);
	}
}

@media all and (max-width: 767px){
	header{
		.hc-hotline{
			font-family: $f3;
			padding-left: 30px;
			.ic-hotline{
				width: 30px;
				height: 30px;
				left: 2px;
				margin-top: -15px;
			}
			strong{
				font-size: 17px;
				height: 26px;
				line-height: 27px;
				padding: 0 6px 0 4px;
			}
		}
		.menu-btn{
			margin-left: 5px;
		}
	}
	.h-account span{
		display: none;
	}
	.slider-cas{
		margin-right: 0px;
	}
	.slide-bn{
		margin-left: 0px;
		padding-left: 0;
		margin-top: 1px;
		margin-bottom: 0;
	}
	.main-bar{
		padding-left: 40px;
		position: relative;
		.h-category{
			position: absolute;
			left: 0;
			margin-top: 1px;
			cursor: pointer;
			.title{
				font-size: 21px;
				font-weight: normal;
				width: 40px;
				height: 42px;
				padding:0; 
				line-height: 41px;
				text-align: center;
				background: $color-dc;
				span{
					display: none;
				}
				i{display: inline-block;}
				&:after{
					content: none;
				}
			}
		}
	}
	.search-form{
		input{
			font-size: 13px;
			padding-left: 10px;
			padding-right: 50px;
		}
		button{
			width: 45px;
			font-size: 0;
			i{margin-right: 0;}
		}
	}
}
@media all and (max-width: 575px){


}

.wrap-over{
	@include fixed(0);
	z-index: 10;
	background: rgba(#000, 0.5);
}