.h-policy{
	border-bottom: solid 1px #e7e7e7;
	.policy{
		text-align: center;
		border-right: solid 1px #e7e7e7;
		padding: 18px 5px 18px 5px;
		span{
			display: block;
			height: 55px;
			position: relative;
			margin-bottom: 15px;
			img{
				@extend %img-center;
			}
		}
		.title{
			text-transform: uppercase;
			font-size: 18px;
			color: #121212;
		}
		.caption{
			@include absolute(0);
			@include fxcenter();
			background: #fff;
			padding: 0 30px;
			opacity: 0;
			p{
				font-size: 16px;
				color: #6d6d70;
				font-family: $f3;
				line-height: 24px;
				height: 48px;
				overflow: hidden;
				margin-top: 6px;
				margin-bottom: 5px;
			}
			.more{
				float: right;
				color: $c1;
				font-size: 16px;
				font-family: $f3;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		&:hover .caption{
			opacity: 1;
		}
	}
	.item:last-child .policy{
		border-right: none;
	}
}
.row_laptop247{
	display: flex;
	flex-wrap: wrap;
}
.h-wrap{
	background-image: url('../images/bg1.png');
	padding: 1px 0;
	background-size: 100% auto;
	&.v2{
		padding: 0;
	}
	.container{
	
		.row_laptop247{
			background-color: #fff;
			.item{
				border-right-width: 1px;
		    	border-right-style: solid;
		    	border-color: #e1e1e1;
		    	border-bottom-width: 1px;
		    	border-bottom-style: solid;
		    	padding: 2px;
		    	.product{
		    		a{
		    			img{
		    				transition: all ease 0.4s;
		    			}
		    		}
		    	}
		    	&:hover{
					box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
					.product{
						a{
							img{
								transform: scale(1.02);
							}
						}
					}
					
				}
			}
			/*dich vu sua chua laptop*/
			.content_list_item#services_product{
				width: 25%;
			}
			.content_list_item{
				width: 16.667%;
				border-right-width: 1px;
		    	border-right-style: solid;
		    	border-color: #e1e1e1;
		    	border-bottom-width: 1px;
		    	border-bottom-style: solid;
		    	padding: 2px;
		    	&:hover{
		    		box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
		    		a{
		    			.infor{
		    				#title{
		    					color: #00a72a;
		    				}
		    			}
		    		}
		    	}
				a{
					text-align: center;
					.img{
						height: 200px;
						overflow: hidden;
						img{
							transition: all ease 0.4s;
							max-width: 90%;
    						height: 100%;
    						object-fit: cover;
    						vertical-align: middle;
						}
					}
					.infor{
						margin: 10px 0;
						#title{
							height: 46px;
						    overflow: hidden;
						    font-size: 16px;
						}
						p{
							color: #333;
						}
					}
				}
			}
		}
			
		
	}
	.container{
		.row{
			.order-lg-last{
				
			}
		}
	}
}
.h-title{
	margin-top: 10px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 26px;
	color: #6d6d70;
	&:before{
		content: '';
		width: 20px;
		height: 20px;
		background-image: url('../images/ic-arrow.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		@include middle;
		margin-top: -5px;
    	margin-right: 6px;
	}
	span{
		color: $c1;
	}
	&.v2{
		font-size: 24px;
	}
	&.v3{
		&:before{
			content: none;
		}
	}
}

.def-btn{
	@include middle;
	background: $c1;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	padding: 3px 15px;
	&:hover{
		background: darken($c1, 10%);
		color: #fff;
	}
	&.v2{
		padding: 5px 15px 3px 15px;
	}
}
.h-head{
	margin-bottom: 20px;
	.title{
		@include middle;
		text-transform: uppercase;
		color: $c1;
		font-size: 34px;
		font-weight: bold;
		margin-right: 30px;
		margin-bottom: 6px;
		i{
			margin-top: -8px;
		}
	}
	.sub-list{
		@include middle;
		font-family: $f3;
		font-size: 0;
		margin-bottom: 6px;
		li{
			font-size: 14px;
			@include middle;
			color: #6d6d70;
			margin-right: 18px;
			padding-right: 18px;
			border-right: solid 1px #a3a4a6;
			&:last-child{
				margin-right: 0;
				padding-right: 0;
				border-right: none;
			}
			a:hover{
				color: $c1;
			}
		}
	}
	&.v2{
		.sub-list{
			li{
				color: #fff;
			}
		}
	}
}
.h-machinals{
	background-image: url('../images/bg2.jpg');
	position: relative;
	z-index: 1;
	padding-top: 60px;
	padding-bottom: 30px;
	&:after{
		content: '';
		@include absolute(0);
		background: rgba(#393939, 0.8);
		z-index: -1;
	}
}
.machinal-cas{
	.slick-arrow{
		color: #76787b;
		font-size: 80px;
		top: 50%;
		line-height: 1;
		margin-top: -64px;
		&:hover{
			color: $c1;
		}
		&.prev{
			left: -125px;
		}
		&.next{
			right: -125px;
		}
	}
	.slick-dots{
		margin-top: 30px;
		li{
			width: 15px;
			height: 15px;
			border: solid 1px #fff;
			margin: 0 7px;
			&.slick-active{
				background: #fff;
				border-color: #fff;
			}
		}
	}
}
.machinal{
	padding: 105px 27px 60px 27px;
	border: solid 1px #5f6264;
	background-color: rgba(#000, 0.5);
	background-position: right center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
	p{
		font-family: $f3;
		color: #fff;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.title{
		font-size: 30px;
		color: #fff;
		line-height: 36px;
		height: 72px;
		overflow: hidden;
		max-width: 270px;
		margin-bottom: 15px;
		a:hover{color: $c1;}
	}
	.price{
		margin-bottom: 50px;
		strong{
			color: $c1;
			font-size: 22px;
			margin-right: 20px;
			@include middle;
		}
		del{
			font-size: 16px;
			color: #ababab;
			@include middle;
		}
	}
	.buy-now{
		@include middle;
		color: #fff;
		text-transform: uppercase;
		border: solid 2px #fff;
		font-size: 16px;
		font-weight: bold;
		padding: 7px 26px 9px 26px;
		&:hover{
			background: $c1;
			border-color: $c1;
		}
	}
	.img{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		width: 50%;
		img{
			@extend %img-center;
			left: auto;
		}
	}
}

.h-home-pro{
	margin-top: 40px;
	margin-bottom: 45px;
	.h-head{
		i{
			margin-top: -19px;
		}
	}
	.yt-box{
		margin-bottom: 40px;
	}
}

.yt-box{
	position: relative;
	z-index: 0;
	img{
		display: block;
		width: 100%;
		cursor: pointer;
		min-height: 200px;
	}
	iframe{
		position: absolute;
		display: block;
		z-index: 2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&:after{
		@include smooth(0.2s);
		content: '';
		width: 100px;
		height: 62px;
		border-radius: 3px;
		border: solid 2px rgba(#fff, 0.5);
		z-index: 1;
		position: absolute;
		pointer-events: none;
		background-color: rgba(#000, 0.5);
		background-repeat: no-repeat;
		background-position: center;
		background-image: url('../images/ic-play.png');
		top: 50%;
		left: 50%;
		margin-top: -31px;
		margin-left: -50px;
	}
	&:hover{
		&:after{
			background-color: $c1;
		}
	}
}

.h-only-pro{
	background-image: url('../images/bg3.jpg');
	padding-bottom: 50px;
	.i-title{
		position: relative;
		z-index: 1;
		font-weight: bold;
		color: #fefefe;
		font-size: 34px;
		padding-bottom: 20px;
    	padding-left: 10px;
    	margin-bottom: 5px;
		text-transform: uppercase;
		span{
			font-size: 94%;
			color: $c1;
			display: block;
			margin-bottom:4px;
			padding-left: 50px;
		}
		&:after{
			content: '';
			z-index: -1;
			background-image: url('../images/bg-title.png');
			background-repeat: no-repeat;
			background-position: left bottom;
			background-size: contain;
			position: absolute;
			width: 450px;
			height: 203px;
			bottom: 0;
			left: -79px;
		}	
	}
	&.v2{
		background: none;
		margin-top: 80px;
		.i-title{
			font-size: 19px;
			padding-left: 54px;
			padding-bottom: 12px;
			margin-bottom: 22px;
			span{
				padding-left: 30px;
				margin-bottom: 2px;
			}
			&:after{
				background-image: url('../images/bg-title2.png');
				width: 251px;
				height: 111px;
				left: 0px;
			}
		}
	}
}
.h-only-pro.v2{
	.s-product{
		margin-bottom: 20px;
		.title{
			color: #292929;
			a:hover{
				color: $c1;
			}
		}
		.price{
			color: $c1;
		}
	}
}

.s-product{
	.c-img{
		background: #fff;
		margin-bottom: 10px;
		img{
			@extend %img-center;
			max-width: 90%;
			max-height: 90%;
		}
	}
	.title{
		text-transform: uppercase;
		line-height: 22px;
		height: 44px;
		overflow: hidden;
		color: #fff;
		margin-bottom: 5px;
		a:hover{
			color: #d1d1d1;
		}
	}
	.price{
		color: #fff;
		strong{
			font-size: 22px;
			font-weight: normal;
		}
	}
}

.h-pro-cas{
	.slick-arrow{
		position: absolute;
		top: -65px;
		right: 0;
		width: 40px;
		height: 40px;
		border: solid 2px rgba(#fff, 0.7);
		color: #fff;
		text-align: center;
		font-size: 21px;
		line-height: 36px;
		&.prev{
			margin-right: 45px;
		}
		&:hover{
			background: #fff;
			color: $c1;
		}
	}
	&.v3{
		.slick-arrow{
			border-color: #ccc;
			color: #ccc;
			&:hover{
				background: none;
				border-color: $c1;
				color: $c1;
			}
		}
	}
	.product{
		.img{
			height: 225px;
		}
		.title{
			color: #292929;
		}
		.info{
			padding-bottom: 10px;
		}
		.price{
			strong{
				color: #f26522;
				font-size: 20px;
				margin-right: 6px;
			}
			del{
				font-size: 14px;
				color: #292929;
			}
		}
		.buy-now{
			font-size: 14px;
			width: 88px;
			padding-right: 6px;
			padding-bottom: 10px;
			&:after{
				height: 90px;
			}
		}
		&:hover{
			.title{
				color: #292929;
			}
			.price{
				strong{
					color: #f26522
				}
				del{
					color: #6f7073;
				}
			}
		}
		&.v-sm{
			.title{
				color: #333;
			}
			.price{
				strong{
					color: $c1;
				}
				del{
					color: #333;
				}
			}
		}
	}
}

.h-watched{
	padding: 25px 0;
	border-bottom: solid 1px #ccc;
	.w-pane{
		position: relative;
		// display: inline-block;
	}
	.i-title{
		width: 75px;
		text-align: right;
		text-transform: uppercase;
		color: #6d6d70;
		line-height: 1.3;
		margin-top: 8px;
		position: absolute;
		left: 0;
	}
	.view-all{
		width: 105px;
		position: absolute;
		right: 0;
		padding-left: 14px;
		font-size: 13px;
		font-weight: bold;
		font-family: $f3;
		line-height: 1.3;
		top: 2px;
		i{
			position: absolute;
			left: 0;
			color: $c1;
		}
		&:hover{
			color: $c1;
		}
	}
	.list{
		margin-left: 90px;
		margin-right: 110px;

		.item{
			display: inline-flex;
			width: 50px;
			margin-right: 25px;
			position: relative;
			justify-content: center;
    		align-items: center;
    		margin-bottom: 10px;
    		.s-title{
    			display: none;
    		}
			.i-img{
				width: 50px;
				height: 50px;
				display: block;
				border: solid 1px #ccc;
				position: relative;
				img{
					@extend %img-center;
					max-width: 90%;
					max-height: 90%;
				}
			}
			.caption{
				position: absolute;
				width: 175px;
				background: #fff;
				box-shadow: 0 0 6px 0 rgba(#000, 0.3);
				z-index: 1;
				bottom: 100%;
				// left: 50%;
				// top: 50%;
				// transition: translate(-50%, -50%);
				.product{margin: 0;}
				display: none;
			}
			&:hover{
				.caption{
					display: block;
				}
			}
		}
		
	}
	.product{
		.img{
			// height: 210px;
			margin-bottom: 0;
		}
		.title{
			font-size: 14px;
			margin-bottom: 1px;
		}
		.info{
			padding-bottom: 6px;
		}
		.price{
			strong{
				margin-right: 6px;
				font-size: 16px;
				line-height: 1.3;
			}
			del{
				font-size: 13px;
			}
		}
		.buy-now{
			font-size: 11.5px;
			width: 68px;
			padding-right: 3px;
			padding-bottom: 3px;
			&:after{
				height: 65px;
			}
		}
		&:hover{
			background: #fff;
			.img{
				background: #fff;
			}
		}
	}
}


@media all and (max-width: 1800px){
	.machinal-cas{
		.slick-arrow{
			font-size: 48px;
			margin-top: -48px;
			&.prev{
				left: -45px;
			}
			&.next{
				right: -45px;
			}
		}
	}
}


@media all and (max-width: 1549px){
	.machinal{
		padding: 50px 15px 40px 15px;
		p{
			margin-bottom: 5px;
		}
		.title{
			font-size: 30px;
			line-height: 36px;
			height: 72px;
			margin-bottom: 10px;
		}
		.price{
			margin-bottom: 30px;
			strong{
				font-size: 18px;
			}
			del{
				font-size: 15px;
			}
		}
	}
	.h-policy .policy{
		.caption{
			padding: 0 15px;
			p{
				font-size: 14px;
			}
			.more{
				font-size: 14px;
			}
		}
	}

	.h-pro-cas{
		.product{
			.img{
				// height: 225px;
			}
			.price{
				strong{
					font-size: 18px;
				}
				del{
					font-size: 13px;
				}
			}
			.buy-now{
				font-size: 12px;
				width: 75px;
				padding-right: 5px;
				padding-bottom: 5px;
				&:after{
					height: 70px;
				}
			}
		}
	}


}

@media all and (max-width: 1199px){
	.h-head .sub-list li{
		margin-right: 20px;
		padding-right: 0;
		border-right: none;
	}
	.machinal-cas{
		.slick-arrow{
			&.prev{
				left: -15px;
			}
			&.next{
				right: -15px;
			}
		}
	}
}

@media all and (max-width: 991px){
	.h-policy{
		.policy{
			border-right: none;
		}
	}
}

@media all and (max-width: 767px){
	.h-policy{
		padding-bottom: 10px;
		.policy{
			padding: 10px 5px;
			span{margin-bottom: 6px}
			.title{
				font-size: 15px;
			}
		}
	}
	.h-title{
		font-size: 24px;
		&:before{
			width: 14px;
			height: 32px;
			margin-top: -5px;
		}
	}
	.h-head{
		.title{
			font-size: 24px;
			.ic-cog{
				width: 20px;
				height: 30px;
			}
		}
		.sub-list{
			display: none;
		}
	}
	.machinal{
		padding: 30px 10px 20px 10px;
		.title{
			font-size: 22px;
			line-height: 30px;
			height: 60px;
			margin-bottom: 10px;
		}
		.price{
			margin-bottom: 20px;
		}
	}
	.h-home-pro{
		.h-head{
			i{
				width: 25px;
				height: 30px;
				margin-top: -12px;
			}
		}
	}
	.h-only-pro{
		padding-top: 1px;
		.i-title{
			font-size: 20px;
			padding-bottom: 12px;
			padding-left: 8px;
			margin-top: -9px;
			span{
				font-size: 94%;
				margin-bottom:2px;
				padding-left: 30px;
			}
			&:after{
				width: 260px;
				height: 153px;
				left: -46px;
			}	
		}
	}
	.h-pro-cas .slick-arrow{
		width: 32px;
		height: 32px;
		top: -46px;
		line-height: 28px;
		&.prev{
			margin-right: 35px;
		}
	}
	.h-watched{
		.i-title{
			width: auto;
			text-align: left;
			margin-top: 0px;
			position: static;
			font-family: $f3;
			font-size: 15px;
			font-weight: bold;
			margin-bottom: 10px;
		}
		.view-all{
			width: auto;
			position: relative;
			right: initial;
			i{
				position: absolute;
				left: 0;
				color: $c1;
				margin-top: 5px;
			}
			&:hover{
				color: $c1;
			}
		}
		.list{
			margin-left: 0px;
			margin-right: 0px;
			.item{
				display: block;
				width: auto;
				margin-right: 0;
				margin-bottom: 10px;
				&:after{
					content: '';
					display: block;
					clear: both;
				}
				.i-img{
					float: left;
				}
				.s-title{
					display: block;
					margin-left: 62px;
					font-family: $f3;
					a:hover{
						color: $c1;
					}
				}
			&:hover{
				.caption{
					display: none;
				}
			}
		}
		
	}
}

	.machinal .img{
		top: 50%;
		img{
			max-width: 90%;
			max-height: 90%;
		}
	}
	// .machinal .price del{
	// 	line-height: 22px;
	// 	display: block;
	// 	height: 22px;
	// 	overflow: hidden;
	// }
}

.mobile_footer{
      display: block;
      position: fixed;
      bottom: 0;
      z-index: 99999;
      width: 100%;
      background-color: #fff;
      border-top: 1px solid #e1e1e1;
      .wrap{
          display: flex;
          padding: 10px 0;
          a{
              width: 25%;
              display: flex;
              flex-direction: column;
              align-items: center;
              padding: 0px 10px;
             img{
              max-width: 50px;
              max-height: 50px;
              overflow: hidden;
              object-fit: cover;
             }
          }
      }
  }
  /*thuong hieu*/
  .h-wrap{
	.container{
		.row_laptop247{
			a#item_brand{
				width: 16.667%;
			    display: flex;
			    border-right-width: 1px;
			    border-bottom-width: 1px;
			    border-color: #e1e1e1;
			    border-bottom-style: solid;
			    border-right-style: solid;
			 
				.img{
					width: 100%;
				    height: 100px;
				    overflow: hidden;
				    display: flex;
    				justify-content: center;
    				padding: 20px;
					img{
					
						height: 100%;
						object-fit: unset;
						max-width: 90%;
						vertical-align: middle;
					}
				}
			}
		}
	}
  }

/*đặt lich hẹn sửa chữa*/
#order_service{
	display: flex;
	margin-top:20px;
	 a{
        border-radius: 5px;
        color: #fff;
        text-align: center;
        padding: 10px 0;
        text-transform: uppercase;
        font-size: 16px;
        &:first-child{
            background-color: #e31e30;
            margin-right: 10px;
            width: 50%;
        }
        &:last-child{
            background-color: #0b659d;
            width: 50%;
        }
    }
}
/*popup*/
.popup {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    margin: auto;
    width: 60%;
    border-radius: 4px 4px 0px 0px;
}
.popup select {
    float: left;
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    color: #000;
}

.popup_title {
    float: left;
    width: 100%;
    height: 43px;
    background: #00a72a;
    overflow: hidden;
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid #e5e5e5;
    background: -moz-linear-gradient(top, #00a72a 0%, #00a72a 100%);
    background: -webkit-linear-gradient(top, #00a72a 0%,#00a72a 100%);
    background: linear-gradient(to bottom, #00a72a 0%,#00a72a 100%);

}
.popup_title .title {
    float: left;
    width: calc(100% - 43px);
    line-height: 43px;
    padding-left: 20px;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}
.popup_title .popup_close {
    float: right;
    font-size: 12px;
    font-weight: bold;
    width: 23px;
    height: 23px;
    line-height: 20px;
    padding-top: 2px;
    border-radius: 20px;
    color: #333;
    text-align: center;
    cursor: pointer;
    background: #fff;
    margin: 10px;
}
.popup_title .popup_close i {
    font-size: 15px;
    color: #c29a46;
}

.popup_main {
    width: 100%;
    float: left;
    background-color: #fff;
}
.popup_product_info {
    width: 50%;
    float: left;
    padding: 10px;
}
.popup-product-image {
    width: 30%;
    height: auto;
    float: left;
    margin-right: 5px;
    margin-bottom: 20px;
}
.popup-product-image img {
    width: 100%;
    height: auto;
}
.popup_product_title {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    padding-bottom: 10px;
    height: 70px;
    overflow: hidden;
    line-height: 22px;
}
.popup_product_price {
    font-size: 20px;
    color: red;
    font-weight: bold;
    padding-bottom: 5px;
}

.popup-color .popup-color-list {
    height: 40px;
    float: left;
    width: 100%;
}
.popup-color .popup-color-list p {
    height: 40px;
    line-height: 40px;
    float: left;
    padding-right: 5px;
    font-size: 14px;
    color: #000;
}
.popup-color .popup-color-list .popup-color-item {
    width: 15px;
    height: 15px;
    float: left;
    margin: 12px 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
}
.popup-color .popup-color-list .active {
    border-color: red;
}

.popup-custom-param-list {
    float: left;
    width: 100%;
}
.popup-custom-param-item {
    width: 100%;
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 15px;
    color: #000;
}
.popup-custom-param-item p {
    float: left;
}
.popup-custom-param-item p:nth-child(2) {
    margin-left: 5px;
}
.popup-warranty-box {
    height: 40px;
    line-height: 40px;
    float: left;
    margin-right: 15px;
    font-size: 14px;
    color: #000;
    width: 100%;
}
.popup-warranty-box p {
    float: left;
}

.popup_customer_info {
    width: 50%;
    float: left;
    padding: 10px;
}
.btn-submit-buynow {
    width: 100%;
    height: 36px;
    background: #00a72a;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.popup_customer_info_title {
    font-size: 16px;
    color: #333;
    width: 100%;
    float: left;
}
.popup_show {
    opacity: 1;
    visibility: visible;
    transition: 0.5s all ease-in-out;
}
#customer-gender, 
#customer-name,
#customer-phone,
#customer-email,
#customer-location,
#customer-address,
#order-note {
    padding: 5px;
    height: 30px;
    margin-top: 10px;
}

#customer-gender {
    width: 100px;
    float: left;
    margin: 10px 0 0 0;
}
#customer-name {
    float: right;
    width: calc(100% - 110px);
    height: 30px;
    padding: 5px;
}
#customer-phone {
    width: 49%;
    float: left;
}
#customer-email {
    width: 49%;
    float: right;
}
#customer-location {
    margin: 10px 0 0 0;
    width: 100%;
    float: left;
}
#customer-address {
    width: 100%;
    float: left;
    height: 45px;
}
#order-note {
    width: 100%;
    float: left;
    height: 45px;
    margin-bottom: 10px;
}
.layer_cart_product {
    .layer_cart_product_info .layer_cart_product_price {
        color: #e34444;
    }
    .layer_cart_product_info>* {
        display: block;
        line-height: 200%;
    }
    .layer_cart_cart{
        margin-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ebebeb;
        h4 {
            color: #666;
            font-weight: 500;
        }
    }
    .go_to_cart {
        padding-top: 20px;
        padding-bottom: 10px;
        a {
            padding: 10px 25px;
            border: 1px solid #ccc;
            transition: 0.3s all;
            text-transform: uppercase;
            color: #666;
            &:hover{
                background-color: #c64739;
                color: #fff;
            }
        }
    }
   
}
#pagnation{
	text-align: center;
	margin: 20px 0;
	a{
		border: 1px solid #00a72a;
	    padding: 5px 20px;
	    border-radius: 5px;
	    &:hover{
	    	background-color: #00a72a;
	    	color: #fff;
	    }
	}
}

