.breadcrumb{
	background: none;
	border-radius: 0;
	margin: 0;
	text-transform: uppercase;
	color: #636466;
	font-size: 18px;
	padding: 12px 0;
	li:after{
		@include font("\f105");
		margin-left: 18px;
		margin-right: 18px;
	}
	li:last-child:after{
		content: none;
	}
	a{
		&:hover{
			color: $c1;
		}
	}
}
.p-banner{
	position: relative;
	z-index: 1;
	text-align: center;
	padding: 40px 0 60px 0;
	color: #e7e8ea;
	margin-bottom: 40px;
	span{
		@include absolute(0);
		-webkit-filter: grayscale(100%);
    	filter: grayscale(100%);
    	z-index: -1;
	}
	&:after{
		content: '';
		@include absolute(0);
		z-index: -1;
		background-image: url('../images/bg-dot.png');
		background-color: rgba(#484849, 0.8);
	}
	.title{
		text-transform: uppercase;
		font-size: 62px;
		font-weight: bold;
		margin-bottom: 15px;
	}
	p{
		font-size: 18px;
		line-height: 28px;
		max-width: 690px;
		margin: auto;
		font-family: $f3;
	}
	.ct{
		text-align: left;
		display: block;
		max-width: 610px;
		background: rgba(#000, 0.25);
		padding: 10px 22px 22px 22px;
		p{
			max-width: none;
		}
	}
	&.v2{
		padding: 30px 0;
		&:after{
			background-color: transparent;
		}
	}
}

.ctrl-head{
	background: #fff;
	padding: 10px 10px 5px 10px;
	font-family: $f3;
	margin-bottom: 20px;
	p{
		font-size: 16px;
		margin-bottom: 5px;
	}
	.i-check{
		margin-bottom: 5px;
		margin-right: 20px;
		font-size: 16px;
	}
	.i-select{
		display: inline-block;
		margin-bottom: 5px;
		select{
			font-family: $f3;
			border: solid 1px #949699;
			height: 32px;
			padding-right: 25px;
		}
	}
	.page-pagi{
		display: inline-block;
		margin-bottom: 5px;
		padding: 0 32px;
		position: relative;
		.i-select{margin-bottom: 0;z-index: 1;}
		.ctrl{
			position: absolute;
			top: 0;
			bottom: 0;
			width: 32px;
			border: solid 1px #b8b8b9;
			text-align: center;
			font-size: 18px;
			line-height: 30px;
			background: #eeeded;
			&.prev{
				left: 1px;
			}
			&.next{
				right: 1px;
			}
			&:hover{
				background: $c1;
				color: #fff;
				border-color: $c1;
			}
		}
	}
}

.products-page{
	background-color: #fff;
	overflow: hidden;
	.product{

	}
	&>.row{margin-bottom: -30px;}
	.item{
		/* background-color: #fff; */
		
		/* &:before{
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 1px;
			background: #e1e1e2;
		}
		&:after{
			content: '';
			position: absolute;
			top: 0;
			bottom: -30px;
			width: 1px;
			background: #e1e1e2;
			right: 0px;
		} */
	}
}

.te-pagination{
	margin: 30px 0;
	a, strong{
		font-weight: normal;
		width: 45px;
		height: 45px;
		text-align: center;
		display: inline-block;
		vertical-align: middle;
		font-size: 17px;
		line-height: 43px;
		color: #6d6d70;
		background: #fff;
		border: solid 1px #949699;
		margin: 0 4px;
	}
	a:hover, strong{
		background: $c1;
		color: #fff;
		border-color: $c1;
	}
}

.cls-drop{
	background-image: url('../images/ic-plus.png');
	background-position: center;
	background-repeat: no-repeat;
	&.active{
		background-image: url('../images/ic-minus.png');
	}
	&:hover{
		opacity: 0.5;
	}
}
.sidebar{
	background: #fff;
	font-family: $f3;
	.sb-title2{
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		padding: 20px 15px 0px 15px;
	}
	.hc-collapse{
		padding-bottom: 10px;
		a{
			display: block;
			padding: 6px 0px;
			&:hover{
				color: $c1;
			}
			&.active{
				color: $c1;
				font-weight: bold;
			}
		}
		&>ul{
			&>li{
				&>a{
					font-weight: bold;
					color: #636466;
					padding-right: 25px;
				}
			}
			ul{
				display: none;
				a{
					padding-left: 20px;
				}
				ul a{
					padding-left: 35px;
				}
			}
		}
		.cls-drop{
			float: right;
			height: 30px;
			position: relative;
			z-index: 1;
			width: 28px;
			margin-right: -10px;
		}
	}
	.sb-title{
		font-size: 18px;
		color: #292929;
		text-transform: uppercase;
		font-family: $f1;
		background: #dcdada;
		padding: 12px 10px;
		i{
			color: #f79230;
			font-size: 20px;
			margin-right: 8px;
		}
	}
	.sb-ct{
		padding: 15px;
		p{
			margin-bottom: 8px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.price-filter{
	position: relative;
	margin: 0 5px 10px 5px;
	.price-1, .price-2{
		position: absolute;
		top: -40px;
		font-size: 16px;
		font-weight: bold;
		&:after{
			content: ' đ';
		}
	}
	.price-1{
		left: -3px;
	}
	.price-2{
		right: -5px;
	}
	#slider-range{
		margin-top: 40px;
	}

	#slider-range.ui-widget.ui-widget-content{
		background: #e8e8e8;
		border: none;
		border-radius: 0;
		height: 8px;
	}
	#slider-range.ui-slider-horizontal .ui-slider-range{
		background: #ed8323;
		border-radius: 0;
	}
	#slider-range .ui-state-default{
		border-radius: 0;
		border: none;
		width: 16px;
		height: 16px;
		background: #f26522;
		margin: 0;
		outline: none;
		margin-left: -8px;
	}
}

.store-banner{
	position: relative;
	z-index: 1;
	padding: 35px 50px 50px 50px;
	span{
		@include absolute(0);
    	z-index: -1;
    	background-position: left center;
	}
	.title{
		text-transform: uppercase;
		font-size: 62px;
		font-weight: bold;
		margin-bottom: 15px;
		color: #e7e8ea;
		text-align: center;
	}
	.des{
		font-size: 18px;
		line-height: 1.55;
		margin: auto;
		font-family: $f3;
		color: #e7e8ea;
		text-align: center;
	}
}
.store-statis{
	text-align: center;
	.icon{
		display: block;
		position: relative;
		height: 100px;
		img{
			@extend %img-center;
		}
	}
	strong{
		font-weight: bold;
		color: $c1;
		font-size: 26px;
	}
	p{
		font-size: 12px;
		font-family: $f3;
		font-weight: bold;
		line-height: 2;
		text-transform: uppercase;
		color: #fff;
	}
}

.p-store{
	margin-bottom: 30px;
	.logo{
		@include middle;
		margin-bottom: 22px;
	}
	.item{
		margin-bottom: 30px;
		.name{
			font-weight: bold;
			color: #f26522;
			font-size: 24px;
			color: $c1;
			margin-bottom: 10px;
		}
		.line{
			font-family: $f3;
			position: relative;
			padding-left: 20px;
			color: #202020;
			line-height: 25px;
			max-width: 322px;
			margin-bottom: 4px;
			i{
				position: absolute;
				left: 0;
				color: #949699;
				top: 5px;
			}
			a{
				color: $c1;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
	&.v2{
		margin-bottom: 10px;
		.logo{
			margin-bottom: 12px;
		}
		.item{
			margin-bottom: 20px;
		}
	}
}
footer{
	.store-contact{
		padding-top: 30px;
		border-top: solid 1px #ccc;
		padding-bottom: 150px;
	}
}

.contact-fr{
	.title{
		font-size: 30px;
		color: #6d6e71;
		margin-bottom: 20px;
	}
	input, textarea{
		width: 100%;
		border: solid 1px #dedede;
		font-size: 16px;
		color: #292929;
		height: 50px;
		display: block;
		margin-bottom: 10px;
		font-family: $f3;
	}
	textarea{
		height: 90px;
		resize: none;
	}
	button{
		background: $c1;
		color: #fff;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: bold;
		padding: 5px 37px 6px 37px;
		margin-top: 5px;
		&:hover{
			background: darken($c1, 8%);
		}
	}
}

.gap-bor{
	&>div{
		&:after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 1px;
			background: #eaeaeb;
			left: 0;
		}
		&:first-child{
			padding-right: 30px;
			&:after{
				right: -1px;
				left: auto;
			}
		}
		&:last-child{
			padding-left: 30px;
		}
	}
}

.tv-pane{
	p{
		@include middle;
		text-transform: uppercase;
		font-weight: bold;
		color: #6d6e71;
		font-size: 16px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	.hc-hotline{
		margin-bottom: 20px;
	}
	.phone{
		@include middle;
		color: #6d6e71;
		margin-bottom: 10px;
		i{
			@include middle;
			color: $c1;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			border: solid 2px $c1;
			text-align: center;
			line-height: 21px;
			margin-right: 5px;
		}
		span{
			color: $c1;
			font-size: 20px;
			font-family: $f2;
			text-transform: uppercase;
		}
		strong{
			display: block;
			font-size: 37px;
			line-height: 1;
		}
		&:hover{
			color: $c1;
		}
	}
}
.map{
	margin-bottom: 40px;
	&.v2{
		margin-bottom: 30px;
		#map{
			height: 600px;
		}
	}
}
#map{
	height: 665px;
}
.map-ctrl{
	background: #dcdada;
	padding: 15px 0 5px 0;
	.ctrl-fr{
		position: relative;
		margin: 0 auto;
		max-width: 780px;
		padding-right: 60px;
		button{
			position: absolute;
			top: 0;
			right: 0;
			width: 50px;
			height: 50px;
			background: $c1;
			color: #fff;
			font-size: 24px;
			&:hover{
				background: darken($c1, 8%);
			}
		}
	}
	.i-select{
		width: 100%;
		margin-bottom: 10px;
		select{
			height: 50px;
			border: solid 2px #949699;
			font-size: 16px;
			padding-left: 18px;
			color: #292929;
			font-family: $f3;
		}
		&:after{
			right: 16px;
		}
	}
}

.stick-scroll{
	&.fixed{
		position: fixed;
		z-index: 2;
	}
}

.sb-policy{
	background: #fff;
	padding: 20px;
	.plc-title{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		color: #6d6e71;
		margin-bottom: 10px;
		line-height: 1.3;
	}
	ul{
		a{
			display: block;
			padding: 5px 0;
			color: #6d6e71;
			font-family: $f3;
			&:hover, &.active{
				color: $c1;
			}
		}
	}
}
.plc-content{
	background: #fff;
	padding: 20px;
	.i-title{
		text-transform: uppercase;
		color: $c1;
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 15px;
	}
	.s-content{
		font-family: $f3;
		font-size: 16px;
		color: #292929;
		line-height: 1.87;
	}
}





@media all and (min-width: 1550px){
	.xxl-pad-right65{
		padding-right: 65px;
	}
}
@media all and (max-width: 1549px){
	.sidebar{
		.sb-title2{
			font-size: 16px;
		}
	}
	.store-banner{
		.title{
			font-size: 42px;
			margin-bottom: 10px;
		}
		.des{
			font-size: 15px;
		}
	}
	.store-banner{
		span{
			background-position: left 20% center;
		}
	}
	.store-statis{
		strong{
			font-size: 22px;
		}
	}
	.plc-content{
		.s-content{
			font-size: 15px;
		}
	}
}

@media all and (max-width: 1199px){
	.store-banner{
		span{
			background-position: center;
		}
		.des{
			margin-bottom: 30px;
		}
	}

}

@media all and (max-width: 991px){
	.breadcrumb{
		font-size: 13px;
		font-family: $f3;
		li:after{
			margin-left: 5px;
			margin-right: 5px;
		}
	}
	.contact-fr{
		margin-bottom: 30px;
		.title{
			font-size: 24px;
		}
		input, textarea{
			font-size: 14px;
			height: 42px;
		}
	}
	.gap-bor{
		&>div{
			&:after{
				content: none;
			}
			&:first-child{
				padding-right: 15px;
			}
			&:last-child{
				padding-left: 15px;
			}
		}
	}
	.plc-content{
		margin-top: 30px;
	}
	footer .store-contact{
		padding-bottom: 60px;
	}
}

@media all and (max-width: 767px){
	.p-banner{
		padding: 30px 0 40px 0;
		.title{
			font-size: 32px;
			margin-bottom: 10px;
		}
		p{
			font-size: 14px;
		}
	}
	.te-pagination{
		margin: 20px 0 50px 0;
		a, strong{
			width: 30px;
			height: 30px;
			font-size: 14px;
			line-height: 28px;
			margin: 0 1px;
		}
	}
	.store-banner .title{
		font-size: 32px;
	}
	.map-ctrl{
		.ctrl-fr{
			padding-right: 50px;
			button{
				width: 40px;
				height: 40px;
				font-size: 18px;
			}
		}
		.i-select{
			select{
				height: 40px;
				border: solid 1px #949699;
				font-size: 13px;
				padding-left: 7px;
			}
			&:after{
				right: 7px;
			}
		}
	}
	.plc-content .i-title{
		font-size: 20px;
	}
	footer .store-contact{
		padding-bottom: 30px;
	}
}

@media all and (max-width: 575px){
	.store-statis{
		margin-bottom: 20px;
	}
	.store-banner{
		padding-bottom: 15px;
	}
}