.ic-zalo {
    width: 24px;
    height: 24px;
    background: url(../images/ic-zalo.png) no-repeat center;
    display: inline-block;
}
.popupLogin {
    .modal-dialog {
        max-width: 890px;
    }
    .modal-content{
    	border-radius: 0;
    	border: none;
    	box-shadow: 0 0 20px 10px rgba(4, 4, 4, 0.45);
    	position: relative;
    	.close-popup{
    		position: absolute;
    		top: -20px;
    		right: -20px;
    		z-index: 9;
    		font-size: 35px;
    		color: #fff;
    		background-color: #9d9d9d;
    		border-radius: 50%;
    		text-align: center;
    		line-height: 40px;
    		width: 40px;
    		height: 40px;
    		cursor: pointer;
    		box-shadow: 0 0 6px 0 rgba(4, 4, 4, 0.33);
    		i{
    			display: inline-block;
    			margin-left: -2px;
    		}
    	}
    }
    .modal-body {
        background-color: $brand-secondary;
        padding: 0;
        position: relative;
        .nav-tabs {
            position: absolute;
            left: 40%;
            top: 0;
            width: 60%;
            border-bottom: 1px solid #cdcdcd;
            padding: 20px 50px 0 50px;
            .nav-item{
            	margin-right: 30px;
            	.nav-link{
            		border:none;
            		border-radius: 0;
            		background: transparent;
            		font-size: 18px;
            		color: white;
            		font-family: $font-family-base1;
            		border-bottom: 4px solid transparent;
            		&:hover{
            			color: #f79230;
            		}
            		&.active{
						color: #f79230;
						border-bottom: 4px solid #f79230;
            		}
            	}
            }
        }
        .tab-content {}
    }
    .popup-content{
    	display: flex;

    }
    .po-left {
        flex: 0 0 40%;
        background-color: #fcfcfc;
        border: 2px solid #cbcbcb;
        border-right: none;
        .title {
            padding: 35px 25px 60px 25px;
            background-color: white;
            color: #636466;
            .heading {
                text-transform: uppercase;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 12px;
            }
            span {
                font-size: 18px;
                font-family: $font-family-base1;
            }
        }
        .img {
            padding: 45px 35px;
        }
    }
    .po-right{
    	color: white;
    	flex: 1 1 auto;
    	padding: 132px 50px 28px 50px;
    	font-family: $font-family-base1;
    	.fm-login{
    		margin-bottom: 20px;
    		position: relative;
    		input{
    			color: #fff;
    			border-radius: 0;
    			background: transparent;
    			border: 1px solid #f5f5f6;
    			height: 35px;
    			&::placeholder{
    				color: #bfbfbf;
    			}
    		}
    		.verification-code{
    			position: absolute;
    			right: 1px;
    			top: 1px;
    			line-height: 35px;
    			height: calc(100% - 2px);
    			background-color: #838383;
    			padding: 0 10px;
    			font-family: $font-family-base1;
    			color: white;
    			border-left: 1px solid #f5f5f6;
    			font-size: 16px;
    			&:hover{
    				color: #f79230;
    			}

    		}
    	}
    	.qmk{
			font-size: 15px;
			margin: 8px 0 28px 0;
			a{
				color: #f79230;
				&:hover{
					text-decoration: underline;
				}
			}
    	}
    	.agree{
    		color: #d6d6d6;
    		a{
    			color: #f79230;
    			&:hover{
					text-decoration: underline;
				}
    		}
    	}
    	.notification{
    		margin: 5px 0 20px 0;
    		.i-check i{
    			border: 1px solid #fff;
    			background: transparent;
    			border-radius: 3px;
    			&:after{
    				content: "\f00c";
    				font-family: 'FontAwesome';
    				width: 0;
    				height: 0;
    				font-size: 18px;
    				margin: 0;
    				margin-left: 1px;
    			}
    		}
    	}
    	.btn-login{
    		background: $c1;
    		height: 35px;
    		width: 100%;
    		padding: 0;
    		font-weight: bold;
    		text-transform: uppercase;
    		color: white;
    		border-radius: 0;
    		&:hover{
				background: darken($c1, 8%);
			}
    	}
    	.note-social{
    		display: block;
    		font-size: 14px;
    		padding: 22px 0 18px 0;
    	}
    	ul{
    		margin: 0;
    		padding: 0;
    		display: flex;
    		justify-content: space-between;
    		li{
    			list-style: none;
    			flex: 0 0 calc(33.333% - 12px);
    			margin-right: 12px;
    			a{
    				align-items: center;
    				display: flex;
    				background-color: red;
    				i{
    					width: 40px;
    					height: 40px;
    					line-height: 40px;
    					text-align: center;
    					display: inline-block;
    					font-size: 18px;
    				}
    				span{
    					flex: 1 1 auto;
    					text-align: center;
    				}
    			}
    			&:nth-child(1){
    				a{
    					background-color: #2d4373;
    					border: 1px solid #24365c;
    					&:hover{
    						background-color: rgba(#2d4373,0.8);
    					}
    					i{
    						border-right: 1px solid #24365c;
    					}
    				}
    			}
    			&:nth-child(2){
    				a{
    					background-color: #df4a32;
    					border: 1px solid #b53c29;
    					&:hover{
    						background-color: rgba(#df4a32,0.8);
    					}
    					i{
    						border-right: 1px solid #b53c29;
    					}
    				}
    			}
    			&:nth-child(3){
    				margin-right: 0px;
    				a{
    					background-color: #018fe5;
    					border: 1px solid #0078c1;
    					&:hover{
    						background-color: rgba(#018fe5,0.8);
    					}
    					i{
    						border-right: 1px solid #0078c1;
    					}
    				}
    			}
    		}
    	}
    	&.register{
    		padding-top: 95px;
    	}
    }
    input{
    	font-family: $font-family-base1;
    }
}

@media (max-width: 1549px) {
    .popupLogin {
        .modal-dialog {
            max-width: 720px;
        }
        .po-left {
            .title {
                padding: 30px 20px 50px 20px;
                .heading {
                    font-size: 19px;
                }
                span {
                    font-size: 14px;
                }
            }
            .img {
                padding: 35px 26px;
            }
        }
        .po-right{
	    	padding: 132px 30px 25px 30px;
	    	ul li{
	    		flex: 0 0 calc(33.333% - 6px);
    			margin-right: 6px;
	    	}
	    }
	    .modal-body .nav-tabs{
	    	padding: 20px 30px 0 30px;
	    }
    }
}
@media (max-width: 767px) {
	.popupLogin {
		.modal-content .close-popup{
			top: -6px;
			right: -6px;
			width: 30px;
			height: 30px;
			font-size: 25px;
			line-height: 30px;
		}
		.popup-content{
			display: block;
		}
		.po-left{
			display: none;
		}
		.po-right{
			padding: 25px 20px !important; 
			ul li {
				flex: 0 0 calc(33.333% - 3px);
    			margin-right: 3px;
	    		a span{
					font-size: 12px;
				}
			}
			.fm-login input,.fm-login .verification-code{
				font-size: 14px;
			}
			.fm-login{
				margin-bottom: 15px;
			}
			.note-social{
				padding: 10px 0;
			}
			.notification{
				margin: 5px 0 10px 0;
			}
			.qmk{
				margin-bottom: 15px;
			}
			
		}
		.modal-body .nav-tabs{
			position: relative;
			left: inherit;
			width: 100%;
			padding: 20px 20px 0 20px;
			.nav-item{
				margin-right: 10px;
				&:last-child{
					margin-right: 0;
				}
				.nav-link{
					font-size: 16px;
				}
			}
		}
	}
	
}