.comment-form{
	width: 100%;
    float: left;
    background: #f8f8f8;
    margin-bottom: 10px;
    margin-top: 2px;
    .comment-form-content {
    	padding: 20px;
    	p {
		    margin-bottom: 15px;
		}
		.comment-name-and-email {
		    width: 100%;
		    float: left;
		    padding: 10px 0;
		    overflow: hidden;
		    margin-bottom: 10px;
		    input {
			    width: 100%;
			    border: 1px solid #ddd;
			    box-sizing: border-box;
			    padding: 7px 10px;
			    margin: 0;
			    border-radius: 3px;
			    letter-spacing: .6px;
			}
		    input[type=text] {
			    margin-bottom: 15px;
			}
		}
		.comment-btn {
		    width: 100%;
		    float: left;
		    button {
			    background: #F79420;
			    color: #fff;
			    float: right;
			    display: block;
			    border: none;
			    padding: 10px 25px;
			    cursor: pointer;
			}
			#close-comment-form {
			    float: right;
			    padding: 10px 25px;
			    color: #F79420;
			}
		}
	}
}

.star-base{
	display: inline-block;
	vertical-align: middle;
	font-size: 0;
	position: relative;
	white-space: nowrap;
	i{
		font-size: 16px;
		color: #fe9727;
	}
	a{
		display: inline-block;
		color: #949699;
	}
	.star-rate{
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
		color: #f79230;
		overflow: hidden;
	}
}

.product{
	
	
	position: relative;
	background:#fff;
	.img{
		height: 350px;
		display: block;
		position: relative;
		background: #fff;
		margin-bottom: 6px;
		img{
			@extend %img-center;
			max-width: 80%;
			max-height: 96%;
		}
	}
	.title{
		font-size: 16px;
		color: #292929;
		text-transform: uppercase;
		line-height: 20px;
		height: 40px;
		overflow: hidden;
		margin-bottom: 5px;
		a:hover{
			color: $c1;
		}
	}
	.price{
		strong{
		    color: #333;
		  
			font-size: 22px;
			font-weight: normal;
			margin-right: 15px;
		}
		del{
			font-size: 16px;
			color: #6f7073;
			line-height: 18px;
			height: 18px;
			display: block;
		}
	}
	.info{
		position: relative;
		padding-bottom: 12px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.buy-now{
		position: absolute;
		right: 0;
		bottom: 0;
		z-index: 1;
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 17px;
		line-height: 1.3;
		width: 116px;
		padding-right: 15px;
		text-align: right;
		opacity: 1;
		&:after{
			content: '';
			position: absolute;
			width: 100%;
			height: 126px;
			background-image: url('../images/bg-btn1.png');
			background-size: 100% 100%;
			background-repeat: no-repeat;
			bottom: 0;
			right: 0;
			@include transition(inherit);
			z-index: -1;
			pointer-events: none;
		}
		/* &:hover{
			&:after{
				opacity: 0.9;
			}
		} */
	}
	.rate-like{
		margin-top: -5px;
		opacity: 1;
		@include smooth(0.2s);
		.like{
			@include middle;
			margin-left: 6px;
			// font-size: 21px;
			color: #6d6d70;
			&:hover, &.active{
				color: $c1;
			}
		}
	}
	/* &:hover{
		background: #dcdada;
		.img{
			background: #dcdada;
		}
		.buy-now{
			opacity: 1;
		}
		.rate-like{
			opacity: 1;
		}
	} */
	.tick{
		position: absolute;
		top: 0;
		left: 0;
		font-size: 18px;
		color: #fff;
		padding-top: 5px;
		padding-left: 4px;
		z-index: 1;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 0;
			border-top: 70px solid #00a72a;
			border-right: 80px solid transparent;
			z-index: -1;
		}
		i{
			margin-left: 8px;
			margin-top: 1px;
			@include middle;
		}
	}
	.gif{
		position: absolute;
		top: 15px;
		right: 15px;
		background: $c1;
		color: #fff;
		border-radius: 3px;
		font-size: 18px;
		padding: 1px 15px 0 15px;
	}
	&.v-sm{
		.img{
			height: 270px;
		}
	}
}
.home-pro-cas{
	.product .buy-now{
		padding-bottom: 12px;
		&:after{
			height: 95px;
		}
	}
}
@media (max-width: 1549px){
	.product{
		&.v-sm{
			.img{
				// height: 200px;
			}
			.price strong{
				font-size: 15px;
			}
			.price del{font-size: 12px;}
			.buy-now{
				font-size: 12px;
				width: 75px;
				padding-bottom: 4px;
				padding-right: 4px;
				&:after{
					height: 65px;
				}
			}
		}
	}
	.home-pro-cas{
		.product{
			.price strong{
				font-size: 15px;
			}
			.price del{font-size: 12px;}
			.buy-now{
				font-size: 12px;
				width: 75px;
				padding-bottom: 4px;
				padding-right: 4px;
				&:after{
					height: 65px;
				}
			}
		}
	}
}
.products-box{
	overflow: hidden;
	.product{
		position: relative;
		background: #fff;
		&:after{
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			width: 1px;
			background: #e8e8e8;
			right: -15px;
		}
	}
}
.home-pro-cas{
	.slick-arrow{
		position: absolute;
		bottom: -35px;
		right: 125px;
		width: 40px;
		height: 40px;
		border: solid 2px #ccc;
		color: #ccc;
		font-size: 18px;
		text-align: center;
		line-height: 36px;
		z-index: 2;
		&:hover{
			color: $c1;
			border-color: $c1;
		}
		&.prev{
			margin-right: 45px;
		}
	}
	& + div .def-btn{
		margin-bottom: 5px;
	}
}

.pro-img{
	margin-bottom: 20px;
	.img{
		display: block;
		height: 480px;
		position: relative;
		img{
			@extend %img-center;
		}
	}
}
.pro-thumb{
	padding: 0 45px;
	.slick-list{
		margin: 0 -7px;
		.slick-slide{
			margin: 0 7px;
		}
	}
	.item{
		border: solid 1px #e1e1e1;
		cursor: pointer;
		.img{		
			border: solid 1px transparent;
			display: block;
			position: relative;
			height: 71px;
			img{
				@extend %img-center;
				max-height: 90%;
				max-width: 90%;
			}
		}
		&.slick-current{
			border-color: $c1;
			.img{
				border-color: $c1;
			}
		}
		.gallery-btn{
			text-align: center;
			padding-top: 12px;
			span{
				font-family: $f3;
				font-size: 13px;
				color: #6d6e71;
				display: block;
				margin-top: 5px;
			}
		}
	}
	.slick-arrow{
		width: 36px;
		height: 36px;
		font-size: 16px;
		text-align: center;
		position: absolute;
		top: 50%;
		margin-top: -18px;
		z-index: 1;
		cursor: pointer;
		color: #ccc;
		line-height: 36px;
		background: #ccc;
		color: #fff;
		&.prev{
			left: 0;
		}
		&.next{
			right: 0;
		}
	}
}

.pro-detail{
	padding-bottom: 20px;
	border-bottom: solid 1px #ccc;
	margin-bottom: 30px;
	.brand-logo{
		img{
			max-width: 200px;
			max-height: 100px;
		}
	}
	.title{
		text-transform: uppercase;
		font-size: 30px;
		color: #292929;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.info{
		font-family: $f3;
		color: #636466;
		font-size: 16px;
		.star-base{
			margin-top: -3px;
		}
		.review{
			@include middle;
			color: #202020;
			text-decoration: underline;
			margin-left: 5px;
			margin-right: 20px;
			line-height: 16px;
			&:hover{
				color: $c1;
			}
		}
		.like{
			@include middle;
			font-size: 21px;
			color: #6d6d70;
			&:hover{
				color: $c1;
			}
		}
	}
	.price{
		font-weight: bold;
		color: $c1;
		font-size: 36px;
		margin-bottom: 15px;
	}
	.des{
		font-family: $f3;
		color: #636466;
		line-height: 24px;
		p{
			margin-bottom: 0;
		}
	}
	.sale-off{
		position: relative;
		border: solid 1px $c1;
		padding: 30px 15px 15px 15px;
		margin-top: 35px;
		margin-bottom: 20px;
		.i-title{
			background: $c1;
			color: #fff;
			font-size: 16px;
			padding: 3px 15px;
			position: absolute;
			top: -15px;
			left: 15px;
			i{
				margin-right: 6px;
			}
		}
		.item{
			font-family: $f3;
			color: #292929;
			margin-bottom: 4px;
			position: relative;
			padding-left: 23px;
			i{
				position: absolute;
				left: 0;
				margin-top: 3px;
				color: $c1;
			}
		}
	}
	.ctrl{
		@include middle;
		margin-bottom: 10px;
		p{
			line-height: 20px;
			color: #949699;
			margin-bottom: 5px;
			font-family: $f3;
		}
		.i-number{
			padding: 0 25px;
			input{
				width: 50px;
				border: none;
				height: 25px;
				color: #292929;
			}
			.n-ctrl, span.n-ctrl{
				width: 25px;
				line-height: 22px;
			}
		}
		.buy_now{
			background: $c1;
			color: #fff;
			font-size: 22px;
			text-transform: uppercase;
			font-weight: bold;
			padding: 9px 30px;
			border-radius: 5px;
			&:hover{
				background: darken($c1, 8%);
			}
		}
	}
}
.pr-dt-left{
	margin-right: -50px;
}
.pr-dt-right{
	margin-left: 50px;
}

.pr-dt-sb{
	background: #fff;
	border: solid 1px #cccccc;
	padding: 0 15px;
	margin-bottom: 15px;
	&.v2{
		border: none;
	}
	.item{
		border-bottom: solid 1px #ccc;
		position: relative;
		font-family: $f3;
		color: #292929;
		padding: 12px 0 12px 45px;
		&.v2{
			border-bottom: none;
		}
		small{
			font-size: 13px;
		}
		i{
			color: $c1;
			font-size: 16px;
			position: absolute;
			left: 0;
			margin-top: 3px;
		}
		&:last-child{
			border-bottom: none;
		}
		a:hover{
			color: $c1;
		}
	}
	.ct{
		color: #949699;
		font-family: $f3;
		margin-bottom: 15px;
		p{
			margin-bottom: 6px;
			&:last-child{margin-bottom: 0;}
		}
	}
}
.sb-s-pro{
	padding-top: 15px;
	padding-bottom: 15px;
	.pro{
		margin-bottom: 15px;
		.img{
			width: 80px;
			height: 80px;
			border: solid 1px $c1;
			position: relative;
			display: block;
			float: left;
			img{
				@extend %img-center;
				max-height: 80%;
				max-width: 80%;
			}
		}
		.title{
			margin-left: 90px;
			font-size: 17px;
			text-transform: uppercase;
			color: #000;
			line-height: 25px;
			max-height: 75px;
			overflow: hidden;
			a:hover{
				color: $c1;
			}
		}
	}
	.line{
		position: relative;
		padding-left: 90px;
		margin-bottom: 15px;
		p{
			position: absolute;
			left: 0;
			width: 85px;
			color: #636466;
			font-size: 17px;
			font-family: $f3;
			margin-top: 5px;
		}
		strong{
			color: $c1;
			font-size: 20px;
			font-weight: normal;
		}
		.i-number{
			padding: 0 40px;
			input{
				border: solid 1px #ccc;
			}
			.n-ctrl, span.n-ctrl{
				line-height: 32px;
			}
		}
	}
	.submit{
		display: block;
		margin: 30px auto auto;
		background: $c1;
		color: #fff;
		text-transform: uppercase;
		font-size: 20px;
		text-align: center;
		padding: 7px 10px 9px 10px;
		min-width: 230px;
		&:hover{
			background: darken($c1, 8%);
		}
	}
}

.pr-ct-tab{
	font-size: 0;
	border: none;
	a{
		@include middle;
		font-size: 22px;
		color: #6d6d70;
		padding: 8px 25px 10px 25px;
		border: solid 1px transparent;
		background-color: #fff;
		margin-bottom: -1px;
		border-bottom-color: #ccc;
		&.active{
			color: $c1;
			border-color: #ccc;
			background-image: url('../images/bg1.png');
			border-bottom-color: transparent;
		}
	}
}
.pro-content{
	.content{
		border-top: solid 1px #ccc;
		background-image: url('../images/bg1.png');
		background-size: 100% auto;
		padding-top: 25px;
		padding-bottom: 20px;
		.i-title{
			font-size: 30px;
			font-family: $f3;
			margin-bottom: 20px;
			font-weight: bold;
			color: #636466;
		}
		.s-content{
			font-family: $f3;
			font-size: 20px;
			color: #636466;
		}
	}
	.tab-content{
		background: #fff;
		padding: 25px;
		margin-bottom: 30px;
	}
}
.expand-box{
	max-height: 730px;
	overflow: hidden;
	position: relative;
	&:after{
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		pointer-events: none;
	}
	&.hide{
		&:after{
			height: 150px;
			@include gradient((transparent,#fff));
		}
	}
	&.expand{
		max-height: none;
		&:after{
			content: none;
		}
	}
}
.expand-btn{
	text-transform: uppercase;
	color: $c1;
	font-size: 18px;
	border: solid 1px #f26522;
	padding: 10px 0;
	width: 220px;
	text-align: center;
	display: block;
	margin: 15px auto auto auto;
	&.hidden{
		display: none;
	}
	&:hover{
		background: $c1;
		color: #fff;
	}
}
.extension-pro{
	background: #fff;
	padding: 20px 20px;
	margin-bottom: 30px;
	.h-title{
		color: #292929;
		margin-top: 0;
		font-size: 22px;
	}
}
.extension-cas{
	.slick-list{
		margin: 0 -10px;
		.slick-slide{
			margin: 0 10px;
		}
	}
	.slick-arrow{
		position: absolute;
		top: -50px;
		right: 0;
		width: 32px;
		height: 32px;
		border: solid 2px #e1e1e1;
		color: #e1e1e1;
		text-align: center;
		font-size: 21px;
		line-height: 28px;
		&.prev{
			margin-right: 35px;
		}
		&:hover{
			background: #fff;
			color: $c1;
			border-color: $c1;
		}
	}
}
.sm-pro{
	text-align: center;
	.img{
		height: 100px;
		display: block;
		position: relative;
		img{
			@extend %img-center;
			max-height: 80%;
			max-width: 80%;
		}
	}
	.title{
		font-size: 17px;
		color: #292929;
		line-height: 25px;
		max-height: 75px;
		overflow: hidden;
		margin-bottom: 8px;
		a:hover{
			color: $c1;
		}
	}
	strong{
		font-weight: normal;
		color: $c1;
		font-size: 17px;
	}
}

.video-popup{
	@include fixed(0);
	z-index: 999;
	background: #000;
	display: none;
	.pp-close{
		position: absolute;
		top: 5px;
		right: 12px;
		line-height: 1;
		font-size: 28px;
		color: #fff;
		z-index: 3;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #000;
		text-align: center;
		line-height: 1;
		&:hover{
			background: $c1;
		}
	}
	.video-cas{
		position: absolute;
		top: 0;
		bottom: 85px;
		left: 0;
		right: 0;
		div{
			height: 100%;
		}
		.item{
			position: relative;
			cursor: pointer;
			img{
				@extend %img-center;
			}
			&:after{
				font-family: 'ElegantIcons';
				content: "\49";
				font-size: 72px;
				line-height: 80px;
				width: 80px;
				text-align: center;
				color: #fff;
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -40px;
				margin-left: -40px;
				pointer-events: none;
			}
		}
		.slick-arrow{
			font-size: 32px;
			color: #fff;
			line-height: 1;
			top: 50%;
			margin-top: -16px;
			&.prev{
				left: 0;
			}
			&.next{
				right: 0;
			}
			&.slick-disabled{
				opacity: 0.3;
			}
		}
	}
	.video-pane{
		position: absolute;
		top: 0;
		bottom: 85px;
		left: 0;
		right: 0;
		z-index: 1;
		pointer-events: none;
		iframe{
			display: block;
			width: 100%;
			height: 100%;
			pointer-events: all;
		}
	}

	.video-thumb{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 80px;
		.slick-list{
			margin: 0 -3px;
			.slick-slide{
				margin: 0 3px;
			}
		}
		div{
			height: 100%;
		}
		.item{
			width: 80px;
			position: relative;
			cursor: pointer;
			border: solid 2px transparent;
			&.slick-current{
				border-color: $c1;
			}
			img{
				@extend %img-center;
			}
			&:after{
				font-family: 'ElegantIcons';
				content: "\49";
				font-size: 21px;
				line-height: 40px;
				width: 40px;
				text-align: center;
				color: #fff;
				z-index: 1;
				position: absolute;
				top: 50%;
				left: 50%;
				margin-top: -20px;
				margin-left: -20px;
				pointer-events: none;
			}
		}
	}
}

.review-box{
	border: solid 1px #ccc;
	padding: 15px;
	color: #fe9727;
	margin-bottom: 20px;
	.table{
		width: auto;
		.cell:first-child{
			padding-right: 50px;
		}
	}
	.point{
		font-size: 40px;
		color: $c1;
		font-weight: bold;
		i{font-size: 36px;}
	}
	.review-pane{
		position: relative;
		padding-left: 40px;
		.num{
			position: absolute;
			left: 0;
			margin-top: 1px;
		}
		.bar{
			width: 155px;
			height: 5px;
			background: #e9e9e9;
			position: relative;
			@include middle;
			span{
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				bottom: 0;
				background: $c1;
			}
		}
		.text{
			@include middle;
			margin-left: 5px;
		}
	}
	.review-btn{
		@include middle;
		font-size: 18px;
		color: #fff;
		background: $c1;
		padding: 6px 35px;
		border-radius: 5px;
		font-family: $f1;
		margin-top: 12px;
		&:hover{
			background: darken($c1, 8%);
		}
	}
	.star-rating{
		text-align: center;
		margin-top: 10px;
		display: none;
		.star-base i{
			font-size: 21px;
		}
	}
}
.top-review{
	.item{
		margin-bottom: 10px;
	}
	.head{
		strong{
			font-size: 16px;
			color: #636466;
			margin-right: 5px;
		}
		span{
			color: $c1;
			i{margin-right: 3px;}
		}
	}
	.ct{
		.rate-result{
			float: left;
			font-size: 0;
			margin-right: 10px;
			margin-top: 2px;
			i{
				color: #636466;
				font-size: 15px;
				margin-right: 1px;
				&.act{
					color: $c1;
				}
			}
		}
	}
	.s-pagination{
		margin-bottom: 0;
		margin-top: 20px;
	}
}
.comment-box{
	background: #fff;
	padding: 20px;
	font-family: $f3;
	margin-bottom: 30px;
	.title{
		color: #292929;
		font-weight: bold;
		margin-bottom: 10px;
		font-size: 20px;
	}
}
.comment-fr{
	font-family: $f3;
	.cmt-focus{
		border: solid 1px #ccc;
		height: 100px;
		width: 100%;
		display: block;
		font-family: inherit;
	}
	.form-input{
		textarea{
			border: solid 1px #ccc;
			height: 80px;
			width: 100%;
			display: block;
			font-family: inherit;
		}
	}
	.fr-photo{
		padding: 10px 10px 5px 10px;
		border: solid 1px #ccc;
		border-top: none;
		&:empty{padding: 0;border: none}
		.item{
			@include top;
			width: 100px;
			height: 100px;
			position: relative;
			border: solid 1px #ccc;
			margin-bottom: 5px;
			margin-right: 5px;
			img{
				@extend %img-center;
				max-height: 80%;
				max-width: 80%;
			}
			.pt-remove{
				font-size: 24px;
				position: absolute;
				width: 24px;
				height: 24px;
				border: solid 1px #ccc;
				line-height: 22px;
				border-radius: 50%;
				color: #636466;
				padding-left: 2px;
				background: #fff;
				top: -12px;
				right: -12px;
				z-index: 1;
				&:hover{
					border-color: $c1;
					color: $c1;
				}
			}
		}
	}
	.fr-ctrl{
		border: solid 1px #ccc;
		border-top: none;
		padding: 10px 100px 10px 15px;
		color: #20609d;
		position: relative;
		.push-img{
			cursor: pointer;
			margin-right: 15px;
			padding-right: 20px;
			border-right: solid 1px #ccc;
			input{
				display: none;
			}
			i{
				font-size: 18px;
				color: #636466;
				margin-right: 5px;
				vertical-align: middle;
			}
		}
		a:hover{
			text-decoration: underline;
		}
		.send{
			background: $c1;
			color: #fff;
			border-radius: 5px;
			padding: 2px 25px;
			font-size: 18px;
			line-height: 27px;
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -16px;
			&:hover{
				background: darken($c1, 8%);
			}
		}
	}
	.cmt-head{
		border-bottom: solid 1px #ccc;
		padding-bottom: 20px;
		margin-top: 20px;
		margin-bottom: 20px;
		strong{
			font-size: 16px;
		}
	}
	.cmt-list{

	}
}
.comment-search{
	@include middle;
	position: relative;
	color: #636466;
	width: 240px;
	max-width: 100%;
	input{
		width: 100%;
		font-family: inherit;
		height: 35px;
		border: solid 1px #ccc;
		padding-left: 35px;
		@include place(#636466);
	}
	button{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 30px;
		font-size: 16px;
		color: #636466;
	}
}

.hc-comment{
	font-family: $f3;
	margin-bottom: 20px;
	&.f2{
		padding-bottom: 15px;
		border-bottom: solid 1px #ccc;
		&:last-child{
			border-bottom: none;
			padding-bottom: 0;
		}
	}
	.head{
		position: relative;
		padding-left: 40px;
		margin-bottom: 10px;
		.avt{
			background: #cccccc;
			color: #292929;
			text-align: center;
			width: 25px;
			height: 25px;
			line-height: 26px;
			font-weight: bold;
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -13px;
			img{
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		.name{
			font-weight: bold;
			font-size: 16px;
			@include middle;
		}
		label{
			background: $c1;
			color: #fff;
			font-size: 12px;
			@include middle;
			padding: 2px 10px;
			margin-left: 10px;
		}
	}
	.text{
		margin-bottom: 6px;
	}
	.ctrl{
		color: #636466;
		a{
			color: #20609d;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.form-input{
		margin-top: 10px;
	}
	.replys{
		background: #f8f8f8;
		border: solid 1px #ccc;
		padding: 15px 15px 0px 15px;
		position: relative;
		margin-top: 15px;
		margin-bottom: 15px;
		&:before, &:after{
			content: '';
			width: 0;
			height: 0;
			position: absolute;
			bottom: 100%;
			left: 10px;
		}
		&:before{
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 11px solid #ccc;
		}
		&:after{
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 11px solid #f8f8f8;
			margin-bottom: -2px;
		}
	}
}












@media all and (max-width: 1549px){
	.product{
		.img{
			height: 260px;
		}
		.title{
			font-size: 14px;line-height: 18px;height: 36px;
		}
		.price{
			strong{font-size: 18px;}
			del{font-size: 14px;}
		}
		.info{
			padding-bottom: 12px;		
		}
		.buy-now{
			font-size: 14px;
			padding-bottom: 9px;
			padding-right: 10px;
			width: 100px;
			&:after{
				height: 90px;
			}
		}
	}
	.pr-dt-left{
		margin-right: -0px;
	}
	.pr-dt-right{
		margin-left: 0px;
	}
	.sb-s-pro .line p{
		font-size: 14px;
		margin-top: 6px;
	}
	.sb-s-pro .line .i-number input{
		width: 50px;
	}
	.pro-content .content{
		.i-title{
			font-size: 24px;
		}
		.s-content{
			font-size: 15px;
		}
	}
}

@media all and (max-width: 1199px){
	.pro-img .img{
		height: 400px;
	}
	.pro-detail{
		margin-top: 30px;
	}
}

@media all and (max-width: 767px){
	.extension-cas{
		.slick-list{
			margin: 0 -5px;
			.slick-slide{
				margin: 0 5px;
			}
		}
	}
	.extension-pro{
		.h-title{
			font-size: 18px;
		}
	}
	.pro-content{
		.tab-content{
			padding: 14px;
		}
		.content .i-title {
			font-size: 20px;
			margin-bottom: 15px;
		}
	}
	.extension-pro{
		padding: 14px 10px;
	}
	.pro-img .img{
		height: 320px;
	}
	.pro-detail{
		.info{
			font-size: 14px;
			.table, .cell{
				display: block;
			}
		}
		.title{
			font-size: 22px;
		}
		.price{
			font-size: 32px;
		}
	}
	.pr-ct-tab{
		a{
			font-size: 16px;
			padding: 8px 15px 10px 15px;
		}
	}
	.review-box{
		text-align: center;
		.table{
			display: block;
			width: 100%;
			.cell{
				display: block;
				&:first-child{
					margin-bottom: 10px;
					padding: 0;
				}
				&:last-child{
					@include middle;
					text-align: left;
				}
			}
		}
		.review-pane{
			.bar{width: 100px;}
			.text{font-size: 13px;}
		}
	}
	.comment-box{
		padding: 14px;
		.title{
			font-size: 16px;
		}
	}
	.comment-fr .fr-ctrl .push-img{
		display: block;
		margin-right: 0;
		border-right: none;
		margin-bottom: 5px;
	}
	.comment-search{
		width: 180px;
		input{
			font-size: 13px;
			padding-left: 30px;
		}
	}
	.comment-fr{
		.cmt-head strong{
			font-size: 13px;
		}
		.fr-photo .item{
			width: 70px;
			height: 70px;
		}
	}
	.hc-comment{
		.head{
			padding-left: 35px;
			.name{
				font-size: 14px;
			}
		}
	}
}




.cas-caption{
	position: absolute;
	width: 175px;
	background: #fff;
	box-shadow: 0 0 6px 0 rgba(#000, 0.3);
	z-index: 1;
	display: none;
	transform: translateY(-100%);
	.product{
		margin: 0;
		.img{
			margin-bottom: 0;
		}
		.title{
			font-size: 14px;
			line-height: 18px;
			height: 36px;
			margin-bottom: 1px;
		}
		.info{
			padding-bottom: 6px;
		}
		.price{
			strong{
				margin-right: 6px;
				font-size: 16px;
				line-height: 1.3;
			}
			del{
				font-size: 13px;
			}
		}
		.buy-now{
			font-size: 11.5px;
			width: 68px;
			padding-right: 3px;
			padding-bottom: 3px;
			&:after{
				height: 65px;
			}
		}
	}
}
	