.icon-24, .icon-partner, .icon-7, .icon-sales, .icon-cart, 
.icon-search, .icon-user, .icon-right, .icon-hotline, .icon-pin, 
.icon-mobile
{ display: inline-block; background: url('../images/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.icon-24 { background-position: -20px -0px; width: 52px; height: 48px; }
.icon-partner { background-position: -20px -68px; width: 52px; height: 39px; }
.icon-7 { background-position: -20px -127px; width: 44px; height: 44px; }
.icon-sales { background-position: -20px -191px; width: 43px; height: 43px; }
.icon-cart { background-position: -20px -254px; width: 33px; height: 24px; }
.icon-search { background-position: -20px -298px; width: 26px; height: 26px; }
.icon-user { background-position: -20px -344px; width: 18px; height: 18px; }
.icon-right { background-position: -20px -382px; width: 16px; height: 26px; }
.icon-hotline { background-position: -20px -428px; width: 13px; height: 13px; }
.icon-pin { background-position: -20px -461px; width: 11px; height: 15px; }
.icon-mobile { background-position: -20px -496px; width: 10px; height: 17px; }
