$media: 
    'sm' '576px',
    'md' '768px',
    'lg' '992px',
    'xl' '1200px';

%col_bs{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@mixin col_bs($val){
    -webkit-box-flex: 0;
    -ms-flex: 0 0 $val;
    flex: 0 0 $val;
    max-width: $val;
}
@mixin make-col($name,$val){
    .col-#{$name}{
        @extend %col_bs;
        @include col_bs($val);
    }
    @each $i in $media{
        .col-#{nth($i, 1)}-#{$name}{
            @extend %col_bs;
        }
        @media (min-width: #{nth($i, 2)}) {
            .col-#{nth($i, 1)}-#{$name}{
                @include col_bs($val);
            }
        }
    }
}
@include make-col(c20,20%);
@include make-col(c40,40%);

.up-big-title{
	text-align: center;
	color: #505052;
	font-size: 5.8vw;
	font-weight: bold;
	text-transform: uppercase;
	padding: 60px 0;
	span{
		color: $c1;
	}
}
.up-big-post{
	position: relative;
	margin-bottom: 50px;
	.link{
		@include absolute(0);
		z-index: 1;
	}
	&:before{
		content: '';
		@include absolute(0);
		@include gradient2((rgba(#000, 1),rgba(#fff, 0),rgba(#000, 1)));
		opacity: 0.8;
		transition: 0.2s;
	}
	.caption{
		position: absolute;
		bottom: 75px;
		left: 90px;
		right: 80px;
		color: #fff;
		.title{
			font-weight: bold;
			font-size: 3.3333vw;
			margin-bottom: 10px;
		}
		.info{
			font-size: 25px;
			line-height: 30px;
			font-family: $f3;
			.facebook{
				color: #3453a5;
				font-size: 188%;
				font-family: $f1;
				font-weight: bold;
				font-style: normal;
				@include middle;
				margin-right: 3px;
				line-height: 30px;
				margin-top: -10px;
			}
		}
	}
	&:hover{
		&:before{
			opacity: 1;
		}
	}
}
.up-sm-post{
	font-family: $f3;
	margin-bottom: 60px;
	.c-img{
		padding-top: 66.66%;
		margin-bottom: 20px;
	}
	.title{
		font-size: 42px;
		color: #505052;
		margin-bottom: 10px;
		line-height: 1.2;
		a:hover{
			color: $c1;
		}
	}
	.info{
		font-size: 25px;
		line-height: 30px;
		font-family: $f3;
		margin-bottom: 10px;
		.facebook{
			// color: #3453a5;
			font-size: 188%;
			font-family: $f1;
			font-weight: bold;
			font-style: normal;
			@include middle;
			margin-right: 3px;
			line-height: 30px;
			margin-top: -10px;
		}
	}
	.des{
		font-size: 16px;
		color: #505052;
		line-height: 24px;
		max-height: 168px;
		overflow: hidden;
	}
}

.up-post{
	font-family: $f3;
	margin-bottom: 30px;
	.c-img{
		padding-top: 62.37%;
		margin-bottom: 20px;
	}
	.title{
		font-size: 39px;
		color: #505052;
		margin-bottom: 15px;
		line-height: 1.2;
		a:hover{
			color: $c1;
		}
	}
	.info{
		font-size: 25px;
		line-height: 30px;
		font-family: $f3;
		margin-bottom: 10px;
	}
	.des{
		font-size: 16px;
		color: #505052;
		line-height: 24px;
		max-height: 120px;
		overflow: hidden;
	}
}

.up-img-title{
	text-align: center;
	margin: 80px auto;
	img{
		max-width: 20%;
	}
}

.diy-head{
	background-image: url('../images/up-diy-bg.jpg');
	padding-top: 1px;
	padding-bottom: 20px;
	margin-bottom: 50px;
}
.diy-hot{
	font-family: $f3;
	color: #fff;
	margin-bottom: 40px;
	.c-img{
		padding-top: 61.5%;
		margin-bottom: 20px;
	}
	.title{
		font-size: 34px;
		font-weight: bold;
		a:hover{
			color: $c1;
		}
	}
	p{
		font-size: 16px;
	}
	&.video{
		.c-img{
			&:before{
				content: '';
				@include absolute(0);
				background: rgba(#000, 0.3);
				z-index: 1;
			}
			&:after{
				@include font("\f04b");
				font-size: 24px;
				width: 60px;
				height: 60px;
				border-radius: 50%;
				text-align: center;
				line-height: 60px;
				padding-left: 4px;
				background: rgba(#fff, 0.6);
				color: $c1;
				position: absolute;
				top: 50%;
				margin-top: -30px;
				left: 50%;
				margin-left: -30px;
				z-index: 1;
			}
		}
	}
}
.diy-md-title{
	font-weight: bold;
	color: #605d62;
	font-size: 77px;
	margin-bottom: 40px;
}
.diy-post{
	position: relative;
	margin-bottom: 90px;
	&:before{
		content: '';
		position: absolute;
		left: 8%;
		right: 8%;
		bottom: -50px;
		height: 1px;
		background: #cecece;
	}
	.c-img{
		display: block;
		float: left;
		width: 516px;
		padding-top: 0;
		&:before{
			content: '';
			display: block;
			padding-top: 63%;
		}
	}
	.ct{
		margin-left: 580px;
		.title{
			font-size: 46px;
			margin-bottom: 5px;
			line-height: 1.2;
			a:hover{
				color: $c1;
			}
		}
		time{
			font-size: 18px;
			font-family: $f3;
			display: block;
			margin-bottom: 30px;
		}
		p{
			font-family: $f3;
			line-height: 24px;
			max-height: 144px;
			overflow: hidden;
			margin-bottom: 20px;
		}
		.more{
			font-size: 15px;
			font-family: $f3;
			color: #fff;
			background: #e74d15;
			border-radius: 4px;
			padding: 5px 10px 6px 10px;
			i{margin-right: 5px;}
			&:hover{
				background: $c1;
			}
		}
	}
}
.diy-view-all{
	background: #605d62;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 29px;
	padding: 2px 20px 5px 20px;
	color: #fff;
	border-radius: 5px;
	position: relative;
	z-index: 1;
	@include top;
	margin-top: -65px;
	margin-bottom: 80px;
	&:hover{
		color: #fff;
		background: $c1;
	}
}
.about-header{
	background: #6d6d70;
	padding: 15px 0 0 0;
	position: relative;
	.about-nav{
		&>ul{
			display: block;
			&>li{
				display: inline-block;
				vertical-align: middle;
				font-size: 21px;
				margin-right: 40px;
				&:last-child{
					margin-right: 0;
				}
				&>a{
					padding-top: 0;
				}
				&:after{
					right: -22px;
				}
				a.blog{
					line-height: 38px;
				}
			}
		}
	}
	.h-category .title{
		padding-left: 0;
	}
	&.fixtop{
		position: fixed;
		z-index: 9;
		left: 0;
		right: 0;
		top: 0;
		box-shadow: 0 0 6px 0 rgba(#000, 0.2);
	}
}
.up-about-bn{
	background-image: url('../images/up-about-bn.jpg');
	color: #fff;
	padding: 75px 0 70px 0;
	.title{
		text-transform: uppercase;
		font-weight: bold;
		font-size: 3.17vw;
		margin-bottom: 15px;
	}
	.s-content{
		font-size: 16px;
		line-height: 1.75;
		font-family: $f3;
		p{margin-bottom: 15px;}
		margin-bottom: 25px;
	}
	.field{
		font-size: 29px;
		text-transform: uppercase;
		i{
			@include middle;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			position: relative;
			border: solid 2px #fff;
			margin-right: 5px;
			img{
				@extend %img-center;
				max-height: 60%;
				max-width: 60%;
			}
		}
	}
}

.up-about-store{
	background-image: url('../images/up-about-bg1.png');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: auto 100%;
	padding-top: 55px;
	padding-bottom: 40px;
	.title{
		font-size: 3.125vw;
		color: #515154;
		font-weight: bold;
		margin-bottom: 25px;
	}
	.s-content{
		max-width: 900px;
		font-size: 17px;
		color: #292929;
		font-family: $f3;
		line-height: 30px;
		margin-bottom: 40px;
	}
}
.up-store-logo{
	@include middle;
	margin-bottom: 30px;
}
.up-store{
	font-family: $f3;
	margin-bottom: 28px;
	.name{
		color: #595858;
		font-size: 17px;
		font-weight: bold;
		margin-bottom: 5px;
	}
	p{
		color: #292929;
		font-size: 17px;
		margin-bottom: 5px;
	}
	.ctrl{
		color: $c1;
		a:hover{
			text-decoration: underline;
		}
		a:not(:last-child):after{
			content: '|';
			margin-left: 12px;
			margin-right: 10px;
			@include middle;
			margin-top: -5px;
		}
	}
}
.up-core{
	background-image: url('../images/up-about-bg2.jpg');
	padding: 80px 0 50px 0;
	color: #fff;
	position: relative;
	z-index: 1;
	.tab{
		margin-bottom: 25px;
		li{
			@include middle;
			border-right: solid 1px #fff;
			padding-right: 20px;
			margin-right: 17px;
			font-size: 39px;
			margin-top: -5px;
			&:last-child{
				border-right: none;
				margin-right: 0;
				padding-right: 0;
			}
		}
		a{
			font-weight: bold;
			text-transform: uppercase;
			line-height: 60px;
			padding-bottom: 3px;
			transition: initial;
			&.active{
				font-size: 138%;
			}
		}
	}
	.item-value{
		margin-bottom: 20px;
		span{
			display: block;
			width: 52px;
			height: 52px;
			border-radius: 50%;
			border: solid 3px #fff;
			font-size: 40px;
			font-weight: bold;
			text-align: center;
			line-height: 40px;
			color: #fff;
			margin-bottom: 16px;
		}
		.title{
			font-weight: bold;
			font-size: 17px;
			text-transform: uppercase;
			font-family: $f3;
			margin-bottom: 15px;
		}
		.s-content{
			font-size: 17px;
			line-height: 1.3;
			font-family: $f3;
		}
	}
	.tab-imgs{
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		width: 100%;
		pointer-events: none;
		.item{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			text-align: right;
			opacity: 0;
			transition: 0.2s;
			transition-delay: 0.15s;
			&.active{
				opacity: 1;
			}
		}
		img{
			@extend %img-center;
			left: auto;
			max-height: 100%;
		}
	}
}

.partner{
	display: block;
	position: relative;
	height: 100px;
	img{
		@extend %img-center;
		max-width: 90%;
		max-height: 90%;
	}
}
.partner-cas{
	.slick-arrow{
		font-size: 36px;
		line-height: 1;
		top: 50%;
		margin-top: -18px;
		color: $c1;
		&.prev{
			left: -30px;
		}
		&.next{
			right: -30px;
		}
	}
}

.up-partner{
	&:before, &:after{
		content: '';
		width: 80%;
		display: block;
		margin: auto;
		border-top: solid 1px #c1c1c1;
	}
	&:after{
		margin-top: 30px;
	}
}

.up-policy{
	margin-bottom: 20px;
	.h-title{
		margin-bottom: 35px;
	}
	.item{
		font-family: $f3;
		text-align: center;
		font-size: 18px;
		color: #292929;
		max-width: 290px;
		margin: 0 auto 30px auto;
		.num{
			margin-bottom: 50px;
		}
		.title{
			font-weight: bold;
			margin-bottom: 12px;
		}
		p{
			line-height: 1.7;
		}
	}
}
.up-products{
	background-image: url('../images/up-about-bg4.jpg');
	padding-top: 1px;
	padding-bottom: 55px;
	.h-title{
		color: #fff;
	}
}
.up-pro{
	border: solid 1px #696b6d;
	background: rgba(#000, 0.4);
	color: #fff;
	padding: 20px;
	min-height: 100%;
	.i-title{
		text-transform: uppercase;
		font-size: 24px;
		margin-bottom: 30px;
		i{
			margin-top: -7px;
		}
	}
	.img{
		width: 195px;
		float: left;
		display: block;
		img{
			width: 100%;
		}
	}
	.ct{
		margin-left: 205px;
		font-family: $f3;
		a{
			display: block;
			font-size: 15px;
			margin-bottom: 5px;
			&:last-child{margin-bottom: 0;}
			&:hover{
				color: $c1;
			}
		}
	}
}
.up-statistic{
	background-image: url('../images/up-about-bg3.jpg');
	color: #fff;
	padding: 70px 2% 90px 2%;
	.cell{
		vertical-align: top;
	}
}
.up-statis{
	text-align: center;
	margin-bottom: 30px;
	.number{
		font-size: 9.5vw;
		line-height: 1;
		margin-bottom: 10px;
	}
	p{
		font-size: 3.23vw;
		line-height: 1;
		font-weight: bold;
		span{
			display: block;
			font-size: 50%;
		}
	}
}


.un-stock{
	display: inline-block;
	cursor: pointer;
}
.un-stock-popup{
	position: absolute;
	display: none;
	z-index: 99;
	background: #fff;
	box-shadow: 1px 1px 8px 0 rgba(#000, 0.2);
	padding: 20px;
	font-family: $f3;
	margin-right: 15px;
	&:before, &:after{
		content: '';
		position: absolute;
		left: 20px;
		width: 0;
		height: 0;
		bottom: 100%;
	}
	&:before{
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 12px solid rgba(#000, 0.05);
	}
	&:after{
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 12px solid #fff;
		margin-bottom: -2px;
	}
	p{
		margin-bottom: 15px;
	}
	.form{
		position: relative;
		input{
			width: 100%;
			height: 35px;
			border: solid 1px #ccc;
			font-family: $f3;
			padding-top: 2px;
			padding-right: 55px;
			@include place(#999);
		}
		button{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50px;
			background: $c1;
			color: #fff;
			text-transform: uppercase;
		}
	}
	.st-close{
		display: none;
	}
}

.product, .product.v-sm{
	.img{
		height: auto !important;
		&:before{
			content: '';
			display: block;
			padding-top: 100%;
			pointer-events: none;
		}
	}	
}



@media all and (min-width: 1550px){
	.lg-mar-37{
		margin-left: -37px;
		margin-right: -37px;
		[class^="col"]{@include pad(37px);}
	}
}

@media all and (max-width: 1549px){
	.up-sm-post{
		.title{
			font-size: 24px;
		}
		.info{
			font-size: 16px;
		}
	}
	.up-post{
		.title{
			font-size: 24px;
			margin-bottom: 5px;
		}
		.info{
			font-size: 16px;
		}
	}
	.diy-hot .title{
		font-size: 22px;
		line-height: 1.4;
	}
	.diy-md-title{
		font-size: 32px;
		margin-bottom: 25px;
	}
	.diy-post{
		position: relative;
		.c-img{
			width: 400px;
		}
		.ct{
			margin-left: 430px;
			.title{
				font-size: 24px;
				margin-bottom: 10px;
			}
			time{
				font-size: 14px;
				margin-bottom: 15px;
			}
			.more{
				font-size: 14px;
			}
		}
	}
	.diy-view-all{
		font-size: 20px;
		margin-top: -60px;
	}
	.about-header{
		.about-nav{
			margin-right: 50px;
			&>ul>li{
				font-size: 16px;
			}
		}
	}
	.up-store{
		font-family: $f3;
		margin-bottom: 28px;
		.name{
			font-size: 15px;
		}
		p{
			font-size: 15px;
		}
	}
	.up-core{
		.tab{
			li{
				font-size: 23px;
			}
			a{
				line-height: 40px;
			}
		}
		.item-value{
			.s-content{
				font-size: 14px;
				line-height: 1.4;
			}
		}
	}
	.up-policy{
		.item{
			font-size: 15px;
			.num{
				text-align: center;
				margin-bottom: 40px;
			}
		}
	}
	.up-pro{
		padding: 15px;
		.i-title{
			font-size: 21px;
		}
		.img{
			width: 120px;
		}
		.ct{
			margin-left: 130px;
			font-family: $f3;
			a{
				font-size: 14px;
			}
		}
	}

}

@media all and (max-width: 1199px){
	.about-header .about-nav{
		margin-right: 0;
		&>ul>li{
			margin-right: 15px;
			&:after{
				right: -7px;
			}
		}
	}
	.up-about-bn{
		padding: 50px 0;
		.title{
			font-size: 24px;
		}
		.s-content{
			font-size: 15px;
		}
		.field{
			font-size: 22px;
			i{
				width: 50px;
				height: 50px;
			}
		}
	}
	.up-core{
		.tab-imgs{
			opacity: 0.5;
		}
	}
	.partner-cas{
		padding: 0 15px;
		.slick-arrow{
			&.prev{
				left: -10px;
			}
			&.next{
				right: -10px;
			}
		}
	}
}

@media all and (min-width: 992px){
	.about-header{
		.h-category{
			&>.ct{
				display: none;
			}
			&:hover>.ct{
				display: block;
			}
		}
	}
}

@media all and (max-width: 991px){
	.up-big-title{
		padding: 40px 0;
	}
	.up-big-post{
		margin-bottom: 40px;
		.caption{
			bottom: 15px;
			left: 15px;
			right: 15px;
			.title{
				font-size: 24px;
				margin-bottom: 5px;
			}
			.info{
				font-size: 14px;
			}
		}
	}
	.up-sm-post{
		margin-bottom: 40px;
	}
	.up-img-title{
		margin: 40px auto;
	}
	.diy-post{
		margin-bottom: 50px;
		&:before{
			bottom: -25px;
		}
		.c-img{
			width: 280px;
		}
		.ct{
			margin-left: 300px;
			.title{
				font-size: 20px;
			}
			time{
				font-size: 14px;
				margin-bottom: 10px;
			}
			p{
				max-height: 96px;
				margin-bottom: 10px;
			}
			.more{
				font-size: 15px;
				font-family: $f3;
				color: #fff;
				background: #e74d15;
				border-radius: 4px;
				padding: 5px 10px 6px 10px;
				i{margin-right: 5px;}
				&:hover{
					background: $c1;
				}
			}
		}
	}
	.diy-view-all{
		margin-top: -45px;
		margin-bottom: 40px;
	}
	.diy-hot{
		margin-bottom: 25px;
		.c-img{
			margin-bottom: 10px;
		}
		.title{
			font-size: 22px;
		}
		p{font-size: 14px;}
	}
	.h-category .title:after{content: none;}

	.about-header{
		padding: 10px 0;
		.logo{
			img{
				max-width: 130px;
			}
		}
		.search-form{
			margin-top: 18px;
			margin-left: 40px;
		}
		.hc-hotline{
			font-family: $f3;
			padding-left: 30px;
			.ic-hotline{
				width: 30px;
				height: 30px;
				left: 2px;
				margin-top: -15px;
			}
			strong{
				font-size: 17px;
				height: 26px;
				line-height: 27px;
				padding: 0 6px 0 4px;
			}
		}
		.main-bar{
			padding-bottom: 0;
			margin-top: 0;
		}
		.search-form{
			margin-top: 10px;
		}
		.h-category{
			position: absolute;
			bottom: 11px;
			.title{
			    font-size: 21px;
			    font-weight: normal;
			    width: 40px;
			    height: 42px;
			    padding: 0;
			    line-height: 41px;
			    text-align: center;
			    background: #f26522;
			    span{display: none;}
			    i{
			    	display: inline-block;
			    }
			}
		}
	}
	.un-stock-over{
		z-index: 90;
		@include fixed(0);
		background: rgba(#000, 0.7);
	}
	.un-stock-popup{
		width: 290px;
		left: 50%;
		margin-left: -145px;
		position: fixed;
		top: 50%;
		margin-top: -65px;
		&:before, &:after{
			content: none;
			display: none;
		}
		.st-close{
			display: block;position: absolute;
			width: 24px;
			height: 24px;
			border-radius: 50%;
			background: rgba(#000, 0.7);
			color: $c1;
			text-align: center;
			font-size: 24px;
			line-height: 1;
			top: -10px;
			right: -10px;
		}
	}
	.up-policy{
		.item{
			max-width: none;
			.num{
				margin-bottom: 20px;
			}
		}
	}
	.up-pro{
		min-height: auto;
		margin-bottom: 30px;
	}
	.up-products{
		padding-bottom: 20px;
	}
}

@media all and (max-width: 767px){
	.up-big-title{
		font-size: 7vw;
	}
	.up-big-post{
		margin-bottom: 30px;
	}
	.up-sm-post{
		margin-bottom: 30px;
	}
	.diy-post{
		.c-img{
			display: block;
			width: auto;
			float: none;
			margin-bottom: 10px;
		}
		.ct{
			margin-left: 0;
		}
		.more{
			display: none;
		}
	}
	.diy-view-all{
		font-size: 16px;
		margin-top: -41px;
	}
	.about-header{
		.h-category{
			bottom: 1px;
		}
	}
	.up-about-bn{
		padding-top: 40px;
		padding-bottom: 30px;
		.title{
			font-size: 24px;
		}
		.s-content{
			font-size: 14px;
		}
		.field{
			font-size: 18px;
			margin-bottom: 10px;
			i{
				width: 50px;
				height: 50px;
			}
		}
	}
	.up-core{
		padding-top: 50px;
		padding-bottom: 30px;
		.tab{
			margin-bottom: 25px;
			li{
				padding-right: 0px;
				margin-right: 15px;
				font-size: 16px;
				&:not(:last-child){
					border-right: none;
				}
			}
			a{
				line-height: 30px;
			}
		}
		.item-value{
			span{
				@include middle;
				margin-right: 8px;
				width: 36px;
				height: 36px;
				border-width: 2px;
				font-size: 18px;
				line-height: 28px;
				text-align: center;
			}
			.title{
				@include middle;
			}
		}
	}
	.partner{
		height: 80px;
	}
	.up-partner{
		.h-title{
			margin-bottom: 10px;
			margin-top: 20px;
		}
		&:after{
			margin-top: 20px;
		}
	}
	.up-pro .i-title{margin-bottom: 20px;}
	.up-statistic{
		padding-top: 40px;
		padding-bottom: 10px;
	}
	.up-statis{
		.number{
			font-size: 40px;
		}
		p{
			font-family: $f3;
			font-size: 18px;
			span{
				font-size:12px;
			}
		}
	}
}